[2016-02-17 00:11] bootstraponline opened #1 "Swift support & example?"
Is it possible to use EarlGrey with Swift? If so, are there any plans for an example repository to demonstrate simple usage?

[2016-02-17 00:14] bootstraponline commented on #1
I found one.
https://github.com/google/EarlGrey/tree/master/Demo/EarlGreyExample/EarlGreyExampleSwift

[2016-02-17 00:14] #1 closed

[2016-02-17 00:17] tirodkar commented on #1
You can also look at the guide [here](https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md#swift) for more information.

[2016-02-17 00:17] bootstraponline commented on #1
Thanks!

[2016-02-17 05:09] khandpur opened #3 "Pan from edge gesture fails on devices"
On devices, the following code which tries to perform a Pan-From-Edge gesture fails:

`[[EarlGrey findElementWithMatcher:grey_keyWindow()] performAction:grey_swipeSlowInDirectionWithStartPoint(kGREYDirectionRight, 0.001f, 0.5f)]`

I've verified it fails on at least the following devices:
- iPhone 5s iOS 9.3
- iPhone 6s iOS 9.3
- iPad iOS 7.0

[2016-02-17 06:29] tirodkar opened #4 "Remove OCHamcrest imports from Unit and Functional Tests Project."
Since we have a wrapper around OCHamcrest, we do not need an explicit import nor any linking against it in the Test Projects themselves.

Remove all instances of `-f OCHamcrest` from the `UnitTests.xcodeproj` and `FunctionalTest.xcodeproj`. Also, remove any uneeded imports containing import `<OCHamcrest/...>`.

[2016-02-17 08:04] bzarzoza opened #6 "Missing script"
build_universal_static_framework.sh is missing

[2016-02-17 08:18] tirodkar commented on #6
Brandon, does this break your project? It's because an extra file is being added in the Scripts/ group of EarlGrey.xcodeproj. You could remove this Group and the error should be gone.

[2016-02-17 08:20] bzarzoza commented on #6
Yes, it does break (non-cocoapod) integration.

[2016-02-17 09:26] tirodkar commented on #6
@bzarzoza, we removed the script references from the project, could you confirm if you still see the issue?

[2016-02-17 10:55] #4 closed

[2016-02-17 11:25] bzarzoza commented on #6
Looks good. It would be cool to see the script, too.

[2016-02-17 15:32] BlitzFirePlayz commented on #3
I thought it works for only iOS 8 and below.

[2016-02-17 17:23] sid-github commented on #3
Note that this **works** on simulators but not on devices.

[2016-02-17 19:03] khandpur commented on #3
@BlitzFirePlayz are you referring to [UIScreenEdgePanGestureRecognizer](https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UIScreenEdgePanGestureRecognizer_class/index.html)?

[2016-02-17 20:35] tirodkar commented on #6
It was just a simple script that we were using before embedded framework were supported. Closing this for now. Do tell us if you require any more info.

[2016-02-17 20:35] #6 closed

[2016-02-19 06:40] hillchan31 opened #11 "about the source url"
When I install the EarlGrey with the command `pod install --verbose --no-repo-update`, I got the failure.

Downloading dependencies

-> Installing EarlGrey (1.0.0)

   $ /usr/bin/curl -f -L -o
   /var/folders/f8/40y7v4md00xdlvxnfy00stm40000gn/T/d20160219-30346-1tpz669/file.zip
   **http://www.github.com/google/EarlGrey/releases/download/1.0.0/EarlGrey-1.0.0.zip** --create-dirs
     % Total    % Re

[2016-02-19 11:01] hillchan31 commented on #11
sorry

the network problem

[2016-02-19 11:01] #11 closed

[2016-02-20 00:24] tirodkar opened #13 "grey_allOf / grey_anyOf C-Functions are not exported to Swift."
As can be seen in [EarlGreyExampleSwiftTests.m](https://github.com/google/EarlGrey/blob/master/Demo/EarlGreyExample/EarlGreyExampleSwiftTests/EarlGreyExampleSwiftTests.swift#L58), grey_allOf and grey_anyOf are not exported to Swift. Instead, we have to use them by calling their `init` methods. This needs to be investigated and the function calls fixed.

[2016-02-20 09:47] khandpur opened #16 "Unit test failures on Travis"
Two unit tests are failing on Travis:

1) - [GREYOperationQueueIdlingResourceTest testOccupiedQueueIdleAfterTaskCompletion]
GREYOperationQueueIdlingResourceTest.m:73: error: -[GREYOperationQueueIdlingResourceTest testOccupiedQueueIdleAfterTaskCompletion] : (([idlingRes isIdleNow]) is false) failed - Non-empty queue should not be in idle state.

2) - [GREYOperationQueueIdlingResourceTest testOccupi

[2016-02-20 15:31] mccanng1 opened #17 "t"
G

[2016-02-21 00:15] tirodkar commented on #17
@mccanng1, please elaborate on the issue's details. Closing this until then.

[2016-02-21 00:15] #17 closed

[2016-02-22 10:13] AshishGogna opened #20 "Issue in running setup-earlgrey.sh"
I tried running setup-earlgrey.sh several times.
But, it says - "There was an issue moving Fishhook as per the EarlGrey specification.".

What's wrong ?

[2016-02-22 10:21] tirodkar commented on #20
@AshishGogna, could you show us your file structure for debugging in case there are any extra files? You could try cleaning the `EarlGrey/` directory of any generated files and try running the script again.

[2016-02-22 15:03] AshishGogna commented on #20
This solved the issue !
Cloned the repo in another directory.

[2016-02-22 15:03] #20 closed

[2016-02-23 06:59] mhnuman commented on #13
Init

[2016-02-23 15:20] RomainQuidet opened #22 "setup fails to end"
Env: iOS 9.2, iPhone 5s simulator + Xcode 7.2.1
In my test setup, the line
`[[[XCUIApplication alloc] init] launch];`
never returns.
If I remove it the tests run correctly. Is this line needed ?

[2016-02-23 18:31] sid-github commented on #22
As noted in https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md please use iOS **unit test** bundle instead of UI tests (that use XCUI* classes).

[2016-02-23 18:33] RomainQuidet commented on #22
Makes sense, thanks.

[2016-02-23 18:36] #22 closed

[2016-02-24 09:05] AshishGogna opened #27 "@import EarlGrey not working"
I followed all the steps mentioned here - https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md.
I followed Github installation, but when i  tried to import earlgrey using this `@import EarlGrey`, it shows me an error saying _"Module 'EarlGrey' not found"_.

I followed those steps exactly as they are mentioned.

[2016-02-24 11:02] tirodkar commented on #27
@AshishGogna, to repro the issue from our side, is this a Swift project or an Objective-C project? In case of a Swift project, have you also added [EarlGrey.swift](https://github.com/google/EarlGrey/blob/master/Demo/EarlGreyExample/EarlGreyExampleSwiftTests/EarlGrey.swift) to your project?

Does `#import <EarlGrey/EarlGrey.h>` work instead of `@import EarlGrey;`?

[2016-02-24 18:43] AshishGogna commented on #27
I tried `#import <EarlGrey/EarlGrey.h>`.

Did a clean integration (followed all the steps again, used another directory) and it worked.

[2016-02-24 18:43] #27 closed

[2016-02-24 19:11] khandpur opened #29 "On test failure, xcodebuild test reports the same failure twice."
When a test fails, both a failure is recorded and an exception is raised by EarlGrey. This ends up logging the failure twice.

[2016-02-24 20:57] bootstraponline opened #30 "Carthage support?"
It'd be nice to document how to use EarlGrey with [Carthage](https://github.com/Carthage/Carthage).

I read through [configure_earlgrey_pods](https://github.com/google/EarlGrey/blob/71b8374edd71ce3a2e5b8d7e5933112613bbabbe/Scripts/configure_earlgrey_pods.rb#L20) and my guess is that Carthage isn't supported at this time.

[2016-02-25 02:44] tirodkar commented on #30
@bootstraponline, we have Carthage support in the roadmap and will add in in the upcoming releases. Thanks.

[2016-02-25 03:17] lestathc opened #31 "Some keys can not be tapped on non English key Keyboard."
Hi,

I tried the EarlGrey, if you want to test non-English app, some keys can not be tapped, like "space". I tried with "fr", the space key should be "espace".

Besides of that, EarlGrey is great, thanks for making this.

[2016-03-04 04:34] sahara108 opened #43 "EarlGrey crash when trying to test a game using Spritekit"
I tried to do an example test in my test project with below code.
`[EarlGrey selectElementWithMatcher:grey_keyWindow()];`
   ` [[EarlGrey selectElementWithMatcher:grey_keyWindow()]
     assertWithMatcher:grey_sufficientlyVisible()];`

The first line worked fine but the second one got crash. Any idea why this happen?

[2016-03-04 04:47] sahara108 commented on #43
Sorry it is my mistake. It crashed in the first test but not from the second test.

[2016-03-04 04:47] #43 closed

[2016-03-06 11:48] #16 closed

[2016-03-15 12:20] Simon-Kaz opened #46 "Unable to Pod Install in the demo project"
When I'm trying to run 'pod install' the following error pops up

[!] Invalid `Podfile` file: undefined method `project' for #<Pod::Podfile:0x007fe73c1918f8>. Updating CocoaPods might fix the issue.

I've tried this on multiple combinations of Cocoapods (using both stable and latest --pre) and Ruby, nothing seems to work.

[2016-03-15 15:10] tirodkar commented on #46
Hi @Simon-Kaz, could you use `gem list cocoapods` and confirm the version of CocoaPods that you are using? Our Demo Project uses the new [1.0.0.beta syntax](http://blog.cocoapods.org/CocoaPods-1.0/) and should give a similar error if run with the stable version. Do you see different errors on running with different CocoaPods versions?

[2016-03-15 20:42] dgallagher-venmo commented on #46
I was getting a similar error using Cocoapods 0.39. Upgrading to the latest 1.x beta of Cocoapods fixed things for me: `gem install cocoapods --pre`

[2016-03-16 03:57] NSFish opened #47 "Switch keyplane failed when the responder is a UITextField with secureTextEntry enabled and the language setting is non-English."
The switch keyplane key's accessibilityLabel on Software keyboard triggered by normal UITextField is "more, numbers" or "more, letters" in any language setting.
But with secureTextEntry enabled,  the accessibilityLabel of the key will be localized, which failed every test related to this.
Currently I'm using KIF's mechanism  to bypass this, which directly calls the first responder view's "setText:

[2016-03-17 05:36] khandpur commented on #47
Thanks for reporting this @NSFish

The bug you reported seems very similar to an existing one: https://github.com/google/EarlGrey/issues/31 . Would you say there's any other additonal information that should be added there?

[2016-03-18 02:46] NSFish commented on #47
Nope. @khandpur

[2016-03-18 02:50] khandpur commented on #47
Marking this as a duplicate of #31

[2016-03-18 02:50] #47 closed

[2016-03-21 03:12] bootstraponline opened #50 "Travis is failing"
I updated [the docs](https://github.com/google/EarlGrey/pull/49) and was surprised to see [all the Travis failures.](https://travis-ci.org/google/EarlGrey/builds/116943764)
##

##

[2016-03-21 07:33] tirodkar commented on #46
@Simon-Kaz, are you still seeing this issue?

[2016-03-21 12:29] Simon-Kaz commented on #46
Seems to work with the latest beta. Can the steps to install/guide be updated with that?

[2016-03-21 23:05] tirodkar commented on #50
Thanks for bringing this to our attention @bootstraponline, we're currently working on fixing these issues.

[2016-03-22 19:14] tirodkar commented on #46
Updated the docs. Closing this for now.

[2016-03-22 19:14] #46 closed

[2016-03-22 19:44] bootstraponline opened #52 "EarlGrey.swift Xcode 7.3 warnings"
<img width="237" alt="earlgrey swift_xcode_7 3" src="https://cloud.githubusercontent.com/assets/1173057/13965508/f937b250-f044-11e5-8888-ef40ba0c1203.png">

[2016-03-22 20:03] bootstraponline opened #53 "EarlGreyExampleSwiftTests broken in Xcode 7.3"
Do the `EarlGreyExampleSwiftTests` run correctly for you in Xcode 7.3? I have followed the readme and only the Objective C tests run correctly. Swift just has lots of errors.

<img width="407" alt="earlgrey_swift_demo" src="https://cloud.githubusercontent.com/assets/1173057/13966184/a172fbee-f047-11e5-93cb-cdbd9c4d50da.png">

[2016-03-23 09:13] cryingDream94 opened #54 "synchronization question"
How does synchronization work，such as how to judge UI loading completed?

[2016-03-23 13:08] bootstraponline commented on #54
https://github.com/google/EarlGrey/blob/master/docs/features.md#synchronization

[2016-03-24 02:07] tirodkar commented on #53
@bootstraponline, thanks for bringing this to our attention. As per our investigation - the warnings mentioned in https://github.com/google/EarlGrey/issues/52 can be removed by following the suggestions - turning `__FILE__` to `#file`, `__LINE__` to `#line` and `Selector` to `#selector`.

For the build breakages, in [GREYActions](https://github.com/google/EarlGrey/blob/58fac8380f10db17fa71e39a2ea2

[2016-03-24 02:12] bootstraponline commented on #53
Thanks for the quick response! I will try the fixes tomorrow and let you know how it goes.

[2016-03-24 02:15] 346285234 opened #55 "How to confirm system alert like allow notification"
If the app is installed at the first time, need to allow notification, how can I confirm it? Is someone encountered?

![thumb_img_0233_1024](https://cloud.githubusercontent.com/assets/3840794/14006487/b67bd058-f1a8-11e5-8db4-74e1d7656e41.jpg)

[2016-03-24 02:17] bootstraponline commented on #55
https://github.com/google/EarlGrey/blob/master/docs/known-issues.md

[2016-03-24 02:28] tirodkar commented on #54
@cryingDream94, EarlGrey has various hooks in the app under test and tries to monitor the state of the app by which it is able to synchronize and check if actions such as UI loads are completed.

Feel free to start further discussions such as this on our [Google Group](https://groups.google.com/forum/#!forum/earlgrey-discuss). Thanks!

[2016-03-24 02:28] #54 closed

[2016-03-24 02:50] 346285234 commented on #55
Thank you for your reply.
So EarlGrey cannot confirm the notification alert now, but what are the other means? As I am new to UI Test, can you give me some suggestions? Thanks.

[2016-03-24 02:51] tirodkar commented on #55
@346285234, you should typically be mocking notifications and other data requests in order to prevent the dialogs from coming up. You could also accept the notification manually and re-run your tests. We experimented with using the private UIAutomation framework for this and saw we could achieve this with it. For example, for pressing the left alert button.

[code]

[2016-03-24 03:00] 346285234 commented on #55
Thank you for your help. I'll have a try.

[2016-03-24 09:34] cryingDream94 commented on #54
@tirodkar  thank you！！O(∩_∩)O~~

[2016-03-24 15:57] bootstraponline commented on #53
I confirm that the recommended fixes resolve the build problems. The swift tests are now passing.

<img width="320" alt="ios_tests_fixed" src="https://cloud.githubusercontent.com/assets/1173057/14022750/9ee1482e-f1b7-11e5-9093-ee618ef95bde.png">

[2016-03-24 19:44] tirodkar commented on #53
Awesome. We'll send a fix for this along with some tests before closing this issue. Thanks for confirming this @bootstraponline.

[2016-03-25 22:42] janderson-primary opened #56 "EarlGrey Failure - “Keyboard did not disappear after resigning first responder status”"
This error occurs when attempting to use the action to type text into a textfield.

If you chain responder status between textfields, EarlGrey will fail, reporting that "Keyboard did not disappear after resigning first responder status".  This is because when your client implementation immediately moves firstResponder to a new textfield, the keyboard will not disappear (nor should it).

This error

[2016-03-25 22:47] tirodkar commented on #56
Thanks a lot for bringing this to our attention. We currently have a fix in process for this. As a quick workaround, you could turn off Autocorrection Type from either the text field or the Settings?

[2016-03-25 22:55] ermterm commented on #56
hi @tirodkar  - Unfortunately turning off autocorrection doesn't work.  The reason is that regardless of the autocorrection type on the UITextField, it will be asked to resignFirstResponder, and then becomeFirstResponder.

I wasn't aware you guys had a fix in progress, so I created a PR.  You can see what I am talking about here:

https://github.com/google/EarlGrey/pull/57

Feel free of course to

[2016-03-27 00:18] bootstraponline commented on #30
It'd be nice to [share the EarlGrey scheme](https://github.com/Carthage/Carthage/tree/64cfbb9c6e82c2b7222b7bfa66a1544f0c95aec4#share-your-xcode-schemes). Currently it's possible to add EarlGrey to `Cartfile.private` and it'll pick up the 1.0.0 tag.

github "google/EarlGrey" ~> 1.0.0

Unfortunately Carthage is unable to build EarlGrey since the only shared scheme is for OCMock. [Example of sharing

[2016-03-27 00:30] bootstraponline opened #58 "Xcode build fails"
Related to #30, xcode-build fails because the signing is set to **Don't Code Sign**

[code]

How should people be making builds of EarlGrey? I think the setting should be set to automatic.

- `Project (EarlGrey) → Code Signing → Code Signing Identity → Automatic ...`

[2016-03-27 00:37] tirodkar commented on #58
@bootstraponline, it would be preferable to explicitly have users code sign with their own certs. We could add a note to state this.

[2016-03-27 01:14] bootstraponline commented on #58
Doesn't that break Carthage because Carthage will use a [project's settings when building frameworks](https://github.com/Carthage/Carthage/issues/281)?

[2016-03-27 01:55] bootstraponline commented on #58
Also `xcodebuild` will still fail even after code signing because the setup shell script isn't [run automatically as a PBXShellScriptBuildPhase](https://github.com/derrh/EarlGrey/commit/1e0d76bd3aef01b1452b106d54d306b8b0ce7ef3#diff-b54088b086e7c220a90849be8618a31cR859). The script is smart enough to not download already existing files. Is there a reason it's not run as part of a standard xcodebuil

[2016-03-27 01:55] tirodkar commented on #58
@bootstraponline, those are good points. We'll send a Pull Request to add in these changes. Thanks a lot.

[2016-03-27 10:29] khandpur commented on #29
Fixed by https://github.com/google/EarlGrey/commit/4b5052a5fc6886634153120e044728f25e50c4a7

[2016-03-27 10:29] #29 closed

[2016-03-29 01:42] khandpur opened #61 "Some functional tests run very slow, causing travis to abort the test"
From https://travis-ci.org/google/EarlGrey/jobs/118931370

The following tests take an enormous amount of time to complete:

1. testBasicInteractionWithViews (31.436 seconds)
2. testActionErrorAPI (23.584 seconds)
3. testEmailTyping (81.767 seconds)
4. testLetterTyping (26.599 seconds)
5. testNumbersTyping (38.642 seconds)
6. testTypingWordsThatTriggerAutoCorrect (154.971 seconds)
7. testUIKeyboar

[2016-03-29 07:43] 346285234 opened #62 "No Element found if I set accessibilityId in the storyboard for iPhone 5s iOS 8.3"
Hi,  I set the accessibilityId of a button in the storyboard, it seems in iPhone 6P it is ok, but for iPhone 5s, it was crashed.

Reproduce steps:
Device: iPhone 5s
Version: iOS 8.3
Condition: set a button accessibilityIdentifer in the storyboard.
Result: button tap event crash with the error "no element found".

[2016-03-29 19:38] tirodkar commented on #62
Hey @346285234, could you show us the grey_description of the button so that we could get a better idea of the element itself? Also, you could try searching for the element by it's title using `grey_buttonTitle`.

[2016-03-29 19:39] tirodkar commented on #55
@346285234, were you able to find a solution for your issue?

[2016-03-30 22:05] khandpur opened #63 "Support XC UI Testing"
Integrate EarlGrey with XC UI Testing. Please follow this issue for progress updates.

[2016-03-31 16:24] skycamefalling opened #64 "Jenkins Command to Run EarlGrey tests"
I was wondering what the command is to run the EarlGrey UI tests in Jenkins?

Is it the same as this?
 "-sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.0' test"

I use that command for XCUITest.

I am evaluating frameworks for my work and we need it to run in Jenkins.

Thanks!

[2016-03-31 17:35] khandpur commented on #64
Hello,

If you use xcodebuild, the command is fairly standard. Here's one from one of our Travis runs:
`xcodebuild -project <your_project> -scheme <your_scheme> -sdk "iphonesimulator9.2" -destination "OS=8.1,name=iPhone 5" -configuration Debug ONLY_ACTIVE_ARCH=NO test`

[2016-03-31 17:37] skycamefalling commented on #64
Perfect! Thanks!

[2016-03-31 17:37] #64 closed

[2016-04-01 16:51] bootstraponline commented on #58
Is there a timeframe for this fix? Would it help if I submitted a pull request? We'd really like to start using EarlGrey with Swift 2.2 & Carthage.

[2016-04-01 16:53] bootstraponline commented on #63
FYI Facebook has done a lot of interesting work with XC UI Testing in [WebDriverAgent](https://github.com/facebook/WebDriverAgent) by reimplementing broken APIs (like typing text) using private APIs.

[2016-04-01 18:20] tirodkar commented on #30
@bootstraponline, would you take a look at https://github.com/google/EarlGrey/pull/65/files and check it that works? I'll send a PR out for Swift support as soon as this is in.

[2016-04-01 18:50] bootstraponline commented on #30
thanks, I'll test it right now

[2016-04-01 19:42] khandpur commented on #63
Will take a look over the weekend. Thanks for sharing that info @bootstraponline

[2016-04-03 09:14] axi0mX commented on #63
Pull request in progress: https://github.com/google/EarlGrey/pull/66

[2016-04-03 22:32] axi0mX commented on #55
@tirodkar @346285234's screenshot is not from an iOS simulator, so the code snippet above won't work (as far as I know) unless his iOS device is jailbroken, he adds entitlement com.apple.private.hid.client.event-dispatch to his app and uses fake code signing.

[2016-04-06 00:45] bootstraponline commented on #50
Travis has a [hard limit of 50 minutes for Mac builds.](https://docs.travis-ci.com/user/customizing-the-build/#Build-Timeouts) If there was some way to cache the app build instead of recompiling every time, that might help.

For appium, we've had to use an open source cloudbees account with [on premise executors](https://documentation.cloudbees.com/docs/dev-at-cloud/On-Premise+Executors.html) (via

[2016-04-06 00:57] bootstraponline commented on #58
Fixed by https://github.com/google/EarlGrey/issues/65

[2016-04-06 00:57] #58 closed

[2016-04-06 00:58] khandpur commented on #50
Yeah it's been pretty annoying trying to work around that. Also, Travis has a log size limit of 2 (or 3) mb I don't quite recall exactly. I switched to using xcpretty for that reason however I think xcpretty sometimes hangs or at least doesn't output stuff which makes travis believe xcodebuild is stuck for more than 10 mins and it terminates our test run.

[2016-04-06 00:59] bootstraponline commented on #30
Fixed by https://github.com/google/EarlGrey/issues/65

[2016-04-06 00:59] #30 closed

[2016-04-06 01:06] khandpur commented on #61
@bootstraponline FYI, these should help with test run times on Travis.

[2016-04-06 01:06] bootstraponline commented on #50
Yeah, another awesome feature of Travis:

Probably why [Swift provides their own hardware for CI](https://swift.org/blog/swift-ci/). Hopefully Google has some way of provisioning Macs for builds. I wish there was an AWS like service for Mac builds (without silly timeouts).

[2016-04-06 01:10] bootstraponline commented on #61
Do you know how long Travis takes to compile EarlGrey?

[2016-04-06 12:57] ninjazoete opened #68 "Carthage 0.15.2 Failed to read file or folder at.."
I am having trouble using EarlGrey with Carthage. I managed to build it with carthage by specifying master branch as source but then when I try to run it I get " Failed to read file or folder at"
which I found similar to issue https://github.com/Carthage/Carthage/issues/1096

I was looking at EarlGrey-Info.plist and did not find  `CFBundlePackageType ` property with FMWK value instead there is APP

[2016-04-06 13:11] bootstraponline commented on #68
APPL is [not a supported package type by Carthage](https://github.com/Carthage/Carthage/blob/63ed2b95783cd01d9b2a47414ecf8d25308fc840/Source/CarthageKit/Xcode.swift#L447) so I'm guessing we'd have to change to FMWK.

[2016-04-06 13:15] palusik86 commented on #68
+1

[2016-04-06 13:20] bootstraponline commented on #68
Even without Carthage, I think APPL is wrong because EarlGrey is not an app.

[2016-04-06 13:25] ninjazoete commented on #68
True, I have forked EarlGrey and commited FMWK to my master - will now try to build my tests with it. I will let you know today if it is all fine.

[2016-04-06 14:21] rav013 commented on #68
+1

[2016-04-06 18:17] bootstraponline commented on #50
[Travis uses MacStadium](http://www.macstadium.com/blog/how-travis-ci-halved-boot-times-for-os-x-and-ios-testing-at-macstadium/). Using them directly would mean no limits on the builds. For CI, it'd be easy to plug into a free cloudbees jenkins account.

[2016-04-06 19:27] ninjazoete commented on #68
I created a pull request. Carthage works fine now. I am not sure why second file was also included into the merge. If it is my overlook just let me know.

[2016-04-06 19:30] khandpur commented on #61
From https://travis-ci.org/google/EarlGrey/jobs/121109717, the whole compilation + testing process takes
1800 seconds ~ 30 mins and testing process itself takes 1692.710 seconds.

Deducing compilation time from that:
1800-1700 = 100 seconds or 1 minute and 40 seconds.

[2016-04-06 19:45] bootstraponline commented on #61
:+1:

[2016-04-06 19:52] khandpur commented on #68
You sign the CLA and you're good to go :) Thank you for doing this!

[2016-04-06 23:45] khandpur commented on #68
Closing this as the PR has been merged =)

Thank you once again!

[2016-04-06 23:45] #68 closed

[2016-04-07 04:51] tirodkar commented on #53
Fixed in https://github.com/google/EarlGrey/pull/67.

[2016-04-07 04:51] #53 closed

[2016-04-07 04:52] tirodkar commented on #52
Fixed in https://github.com/google/EarlGrey/pull/67.

[2016-04-07 04:52] #52 closed

[2016-04-07 16:34] bootstraponline opened #72 "Carthage docs & example"
Now that Carthage is able to fetch and build EarlGrey, it'd be nice to have an example similar to the existing cocoapods demo. Also the `install-and-run` doc should be updated to include the steps necessary to get started with carthage.

[2016-04-07 16:55] bootstraponline opened #73 "Publish configure_earlgrey_pods.rb as a gem & add carthage support"
It'd be nice if configure_earlgrey_pods.rb was published as a gem and supported carthage. Manual setup with carthage is painful.

[2016-04-07 17:29] bootstraponline commented on #73
The gem could also setup a bridging header and `EarlGrey.swift`

[2016-04-07 19:06] khandpur commented on #62
Hello Paul, is this still a blocker for you? Please let us know so we can triage this issue correctly.

[2016-04-08 19:43] sheady opened #75 "First test always fails"
Whenever I try running a couple tests, the first one always fails when it should pass. When I rename methods to change execution order, the test that was failing now passes, and the passing test that is now running.

Running on the 5S(8.4) sim. Initially on Xcode 7.3, but reverted to 7.0.1 and still had this issue (side note: execution was a lot faster on 7.0.1).

![firstrun](https://cloud.githubu

[2016-04-08 19:50] bootstraponline commented on #75
Does this happen using the EarlGrey master branch?

[2016-04-08 21:09] khandpur commented on #72
Yay! would love to but I have very limited experience with Carthage.

[2016-04-08 21:11] khandpur commented on #75
yup, please check if it happens with master. We have been pushing a lot of fixes out to master and should really cut a new release.

[2016-04-08 21:36] bootstraponline commented on #72
I'm waiting on permission from my employer but I hope to have something to contribute in this area soon.

[2016-04-11 15:18] sheady commented on #75
Got a branch going with EG from master instead of cocoapods. Rewrote my tests in the same manner and the first still consistently fails. Same situation with renaming the tests to force a different order as well.

[2016-04-11 22:03] khandpur commented on #75
This is super odd....Can you give us some repro steps? When the test fails, what's the error message?

[2016-04-12 14:28] sheady commented on #75
Followed your instructions on setting up EarlGrey with the Cocoapods install, running Xcode 7.3 and the iPhone 5S 8.4 simulator.

I have a couple of simple tests checking for element visibility and tapping on a button on a simple login screen. I first run them without my empty test.
![screen shot 2016-04-12 at 9 17 07 am](https://cloud.githubusercontent.com/assets/6403572/14463404/70e3e76e-0090-11

[2016-04-12 22:49] khandpur commented on #75
This seems like a synchronization problem to me. There should be a detailed description of each state that Earlgrey is waiting for the app to be in. Could you please include that as well?

[2016-04-18 15:29] sheady commented on #75
========== Detailed Exception ==========

Exception: AssertionFailedException
Reason: Assertion 'assertWithMatcher:matcherForSufficientlyVisible(>=0.750000)' failed.
Element matcher: (respondsToSelector(accessibilityIdentifier) && accessibilityID("username"))
Complete Error: Error Domain=com.google.earlgrey.ElementInteractionErrorDomain Code=3 "Failed to execute assertion within 30 seconds." UserI

[2016-04-19 00:55] bootstraponline commented on #73
related to #72

I have setup [an example project](https://github.com/bootstraponline/swift_xcuitest_example/) that has EarlGrey configured manually using carthage in the `ExampleEarlGrey` target.

The `AutoEarlGrey` is empty and I published [an EarlGrey gem](https://github.com/bootstraponline/earlgrey) that auto configures the target.

I still have to add some tests but the code works (at least fo

[2016-04-19 01:40] khandpur commented on #75
Does MZInboxViewController, MZBaseViewController and MZTabViewController all call through to [super viewWillAppear:animated] ? Also see http://stackoverflow.com/questions/35796012/earlgrey-tried-waiting-for-5-0-seconds-for-the-application-to-reach-an-idle-stat

[2016-04-19 21:49] khandpur commented on #73
Having a published gem would mean that we can fix bugs on the fly and republish the gems without having the user to go through tedious steps of manually copying over the rb file =)

We'd be happy to help maintain it but would it be possible to have them in the same repo? Otherwise, I'll have to check what the guidelines are for taking ownership over other repos and might have to seek approval for

[2016-04-19 21:50] bootstraponline commented on #73
Sure, we can keep it in the same repo. I'll work on a pull request.

On Tue, Apr 19, 2016, 5:49 PM Sundeep <notifications@github.com> wrote:

[2016-04-28 08:12] vhala-fk opened #77 "Build Failed - Semantic Issue"
The EarlGrey project is not building. [Xcode ver 6.4(6E35b)]
Steps:
1. Clones EarlGrey repo.
2. Ran 'setup-earlgrey.sh'.
3. Opened EarlGrey.xcodeproj and tried building the project.

Error:
GREYTapAction.m - Semantic Issue Method override for the designated initializer of the superclass '-initWithName:constraints:' not found

![image](https://cloud.githubusercontent.com/assets/11550824/14879465/09

[2016-04-28 13:29] bootstraponline commented on #77
Use Xcode 7.3.

[2016-04-28 15:47] vhala-fk commented on #77
thanks will upgrade my OS and try.

[2016-04-29 10:39] vhala-fk commented on #77
Yes, works in the latest Xcode version.
Thanks, closing.

[2016-04-29 10:39] #77 closed

[2016-05-02 19:20] tirodkar commented on #56
@janderson-primary, the Pull Request is in. Feel free to tell us if you still experience any more issues. Closing this for now.

[2016-05-02 19:20] #56 closed

[2016-05-03 04:54] tapthaker opened #80 "Cannot execute the test target"
Facing the problem below :

[2016-05-03 05:05] khandpur commented on #80
Hey Tapan,
With the current information I cannot pinpoint the problem. Sometimes Xcode and iOS Simulator gets into a weird state which has no remedy besides a full system reboot. Have you tried that or can you provide a more detailed version of the log?

[2016-05-03 05:07] khandpur commented on #75
Hi, if this is a non-issue I'd like to close it. Let us know otherwise.

[2016-05-03 05:09] khandpur commented on #62
Closing this for now. Feel free to reopen it if you encounter this again.

[2016-05-03 05:09] #62 closed

[2016-05-03 05:09] khandpur commented on #13
Wasn't this fixed by a recent PR?

[2016-05-03 05:12] tirodkar commented on #13
This requires a separate update for the grey_allOf and grey_anyOf api.

[2016-05-03 05:31] tapthaker commented on #80
Hey Sundeep,

Here are the logs, I can understand that there is some problem in linking the library. But can't figure out what.

[code]

[2016-05-03 06:38] khandpur commented on #80
dlopen_preflight(<APP_PATH>/PlugIns/IntegrationTests.xctest/IntegrationTests): no suitable image found.  Did find:
    <APP_PATH>/PlugIns/IntegrationTests.xctest/IntegrationTests: **mach-o, but wrong architecture**

The bundle “IntegrationTests” couldn’t be loaded because it doesn’t contain a version for the current architecture.

Check your build settings and make sure integration test target is

[2016-05-03 06:54] tapthaker commented on #80
Thanks Sundeep,
My architectures for my Test target was selected as x86, that was creating the problem. Closing this issue now.

[2016-05-03 06:54] #80 closed

[2016-05-06 04:04] tirodkar commented on #55
@346285234, were you able to test the solution out?

[2016-05-10 11:01] tapthaker opened #81 "Getting a EXC_BAD_ACCESS on GREYAppStateTracker.m"
Not sure what else info I can put forward so that you can debug the issue. I am using Carthage as Dependency Manager and pointing to master.

![screen shot 2016-05-10 at 4 27 54 pm](https://cloud.githubusercontent.com/assets/7520741/15144362/92c9ac4a-16cc-11e6-96a8-76f6a062684e.png)

[2016-05-11 05:57] khandpur commented on #81
Thanks for reporting this Tapan. Is there anyway you can share the project that we can use for reproducing this? We encountered this internally while testing the framework but were unable to reproduce it after several days of trying.

[2016-05-11 05:58] khandpur commented on #75
Closing it for now. Feel free to reopen if this issue resurfaces.

[2016-05-11 05:58] #75 closed

[2016-05-11 05:59] tapthaker commented on #81
Can't share the project with you. Will try to reproduce with a sample and get back to you.

[2016-05-16 15:43] bootstraponline commented on #13
Is this fixed now with #82?

[2016-05-16 17:10] tirodkar commented on #13
Yes, please use grey_allOfMatchers / grey_anyOfMatchers. Closing this for now.

[2016-05-16 17:10] #13 closed

[2016-05-16 22:18] #73 closed

[2016-05-16 23:46] fernyb opened #86 "Assertion failure in -[GREYElementProvider dataEnumerator]"
I keep getting this issue where I navigate to another view controller then then nothing works,
I do have a custom matcher and I can see that it does match the element I'm looking but I cannot do anything with it. As this is the error I'm getting.

For some reason it's only on a specific view controller where it doesn't work but everything else works fine.

*** Assertion failure in -[GREYElementPro

[2016-05-16 23:54] khandpur commented on #86
Look at the code it's a sanity check for a valid (non-nil) accessibility element:
`NSAssert(element, @"element should not be nil");`

According to accessibilityElementAtIndex's documentation, it is OK to return nil so we should be accepting of nil elements and not fail.

[2016-05-17 01:15] tirodkar commented on #86
@fernyb, is there anything special about the View Controller that this seems to be failing on. While it is ok to have accessibilityElementAtIndex return nil, we only iterate over the number of elements in provided to us in the accessibility element count. Are you finding that a nil value is being iterated over or do you think the index might be incorrect?

[2016-05-17 02:51] tirodkar opened #89 "Fix Rubocop Warnings for configure_earlgrey_pods.rb script and the Podfile."
https://codeclimate.com/github/google/EarlGrey/issues?category=&engine=rubocop&page=1

[2016-05-17 02:53] bootstraponline commented on #89
This will be fixed when configure_earlgrey_pods is deleted in favor of the gem. The gem already fixes all the rubocop warnings.

In terms of the Podfile, I don't think we should fix `Freeze mutable objects` since no one writes code like that when using cocoapods.

[code]

vs

[code]

[2016-05-17 03:00] tirodkar commented on #89
@bootstraponline, thanks for your input. We'll close this our as soon as we have an update on the gem.

[2016-05-17 03:03] tirodkar commented on #72
Hey @bootstraponline, is this still being worked on?

[2016-05-17 13:13] bootstraponline commented on #72
Yep. First step was the gem, next is the docs.

[2016-05-17 17:54] tirodkar commented on #86
@fernyb, we're planning to send a fix for this. Are you using CocoaPods or another integration method? In case you're using CocoaPods, the fix will be picked up in the next release.

[2016-05-17 18:12] fernyb commented on #86
I don't believe there is anything special about the view controller, I just happen to be getting nil here:

https://github.com/google/EarlGrey/blob/master/EarlGrey/Provider/GREYElementProvider.m#L152

I'm using CocoaPods, I'm thinking of trying to use master if the fix is in.

[2016-05-17 19:10] fernyb commented on #86
I can confirm if I remove NSAssert my tests work as expected.

[2016-05-17 19:55] tirodkar commented on #86
Fernando, feel free to remove the assert and put a nil check for `element` around `[runningElementHierarchy addObject:element];` and submit a Pull Request for it. You can also do something similar in [GREYElementHierarchy](https://github.com/google/EarlGrey/blob/master/EarlGrey/Common/GREYElementHierarchy.m#L137).

[2016-05-17 22:34] tirodkar commented on #86
Closing thanks to https://github.com/google/EarlGrey/pull/91 and https://github.com/google/EarlGrey/pull/90.

[2016-05-17 22:34] #86 closed

[2016-05-20 22:20] bootstraponline commented on #72
https://github.com/google/EarlGrey/pull/94 adds a cocoapods test, after that is updating the docs.

[2016-05-23 13:46] bootstraponline opened #95 "EarlGrey() has wrong line number for page objects"
In `EarlGrey.swift`, EarlGrey is defined as:

[code]

I define a login page object:

[code]

which is then used:

[code]

The line number is wrong because `EarlGrey()` sets it to be on the ` EarlGrey().selectElementWithMatcher...` line.

I've had to update `EarlGrey.swift` like this:

[code]

and update the page object:

[code]

now the line number is correctly identified in the test. Thoughts on

[2016-05-23 22:04] khandpur commented on #95
This particular feature is about highlighting the EarlGrey invocation in the test code which led to the failure. This is an interesting use case and will fail the same way for the Objc version as well. Even though Objc can rely on macro expansion to include file and line# alongside the original method calls it would require us to define a macro for each top-level API and sub-APIs which can be call

[2016-05-24 20:11] bootstraponline opened #96 "EarlGrey Cheat Sheet"
Espresso has a cool cheat sheet. I used their visual style to make one for EarlGrey. Feedback welcome.

- [jsfiddle with source code](https://jsfiddle.net/bootstraponline2/e1nqzoc6/)
- [html rendering (must use Chrome browser)](https://fiddle.jshell.net/bootstraponline2/e1nqzoc6/show/light/)
- [markdown with raw data](https://gist.github.com/bootstraponline/81d8c9aa99f98cd6d9e78c5293d8f906)

![ear

[2016-05-24 21:15] khandpur commented on #81
Hey Tapan, were you able to repro this?

[2016-05-25 04:40] tapthaker commented on #81
I will attach a demo project to this issue today or tomorrow.

[2016-05-26 01:16] #96 closed

[2016-05-31 19:34] bootstraponline opened #102 "Add helper method to speed up animations in tests."

[2016-05-31 20:56] bootstraponline opened #103 "Reset application state before each EarlGrey test?"
What's the recommend approach for resetting the application state before each test? I'm thinking of issues such as:
- logging out
- dismissing any app specific dialogs

- [discussion group topic](https://groups.google.com/forum/#!topic/earlgrey-discuss/8JpItL8e7kk)

[2016-05-31 21:17] bootstraponline commented on #103
If we had XCUITest support then we could just relaunch the app.

[2016-06-01 01:00] bootstraponline opened #104 "grey_kindOfClass doesn't accept a String"
[code]

Why can't I use a string for `grey_kindOfClass`? I can't reference _UIAlertControllerView directly as it appears to be a private class.

[2016-06-01 01:03] bootstraponline commented on #104
`NSClassFromString("_UIAlertControllerView")` appears to do what I want but the match still fails.

[2016-06-01 01:06] khandpur commented on #104
Can you check if such an element exists in the UI hierarchy and whether it has accessibility label set to "Login Failure"

[2016-06-01 01:09] bootstraponline commented on #104
I see two entries. I can match the UILabel. I can't match on `_UIAlertControllerView`.

[2016-06-01 01:09] bootstraponline commented on #104
If `AX=N` then EarlGrey shouldn't complain that there are multiple matches for `AX.label='Login Failure';`, right?

[2016-06-01 01:26] khandpur commented on #103
FWIW, we're still working on XCUITest support design and plan on sharing that doc on Slack for feedback.

I don't quite agree that XCUITest alone will solve all these problems (more details below).

For the recommended approach to reset the app, you'd need to:
1) Logout:
This is useful if you want to test different login flows but if you just care about getting past the sign-in screen, structure t

[2016-06-01 01:31] bootstraponline commented on #104
[code]

It looks like there's no way to simply say pick the first match. The elements are identical. I don't see multiple `Login Failures` in the screenshot. In the view dump, there's only one `UILabel`, the other is a `_UIAlertControllerView`.

[2016-06-01 01:34] bootstraponline commented on #103
That makes sense. Thanks for the explanation.

[2016-06-01 01:34] tirodkar commented on #104
Did you try adding `grey_interactable()` or `grey_sufficientlyVisible()` in your matcher?

[2016-06-01 01:41] khandpur commented on #104
EG allows you to match on both accessible and non-accessible elements (if you use non accessibility matchers). I think here the problem is that _UIAlertControllerView isn't accessible but has an accessibility label set so it shouldn't be picked by EarlGrey because you're using grey_accessibilityLabel to match on something that's not accessible.

As for the Login Failures, it's picking up two diffe

[2016-06-01 01:48] bootstraponline commented on #104
The test passes if I add `grey_interactable()`. Thanks for the tip. I thought `interaction=N` based on the logs means it isn't intractable but somehow it matches.

Probably. This is looking like a bug in the app and not an EarlGrey issue. I'll talk with the devs tomorrow. Thanks for the help debugging.

I'm wondering if it's worth adding a FAQ entry about how to resolve identical duplicate element

[2016-06-01 01:48] #104 closed

[2016-06-01 01:49] khandpur commented on #104
Yup, that we should add it to FAQ :)

[2016-06-01 02:08] huadashao520 opened #106 "My custom matcher push an error " caught "NSInvalidArgumentException", "-[UIRemoteKeyboardWindow placeholder]: unrecognized selector sent to instance ...""
![image](https://cloud.githubusercontent.com/assets/5190054/15696177/a41387b2-27e0-11e6-9497-fc611644c76e.png)

code:
-(id<GREYMatcher>)matcherForTextFieldWithPlaceHolder:(NSString*) placeholder{

    MatchesBlock matches = ^BOOL(UITextField *textfield) {
        return [textfield.placeholder isEqualToString:placeholder];

    };
    DescribeToBlock describe = ^void(id<GREYDescription> description

[2016-06-01 02:14] tirodkar commented on #106
The error seems to be that the `textfield` does not respond to the placeholder selector. Could you modify your block to be like:
[code]

[2016-06-01 06:12] khandpur commented on #81
hey Tapan, any updates?

[2016-06-01 07:30] #106 closed

[2016-06-02 01:10] PikaRules opened #108 "AX Exchange error when MFMailComposeViewController has been initialized."
**Description**

when EarlGrey tries to open a  viewController where the MFMailComposeViewController has been initialized,  many warning messages start being printed on the console. and earlgrey keeps waiting  forever until the test is marked as failed.

**The warning message is:**

`AX Exchange error: Error Domain=Accessibility Code=0 "Remote service does not respond to _accessibilityMachPort" Us

[2016-06-02 01:40] tirodkar commented on #108
Based on looking around for this error, this looks like a Synchronization problem with the MFMailComposeViewController. Thanks for bringing this to our attention. Is there a simply way by which we could repro this?

[2016-06-02 05:53] PikaRules commented on #108
To reproduce it you just need to create an instance of MFMailComposeViewController on some ViewController and add it as a property of that ViewController, create that instance inside viewDidLoad()
the view controller needs to have some view attached to it.
and this view should have some accessibilityElements turned on with an accessibilityIdentifier settled.

then, create a simple test that opens

[2016-06-02 16:23] bootstraponline opened #110 "grey_replaceText() as alternative to grey_typeText()"
I'd like to set text directly on the UITextField without using the keyboard. This doesn't seem possible to do with the existing API. In Espresso, there's a replaceText() action.

`UITextField` has a `setText` method.

[2016-06-02 16:37] bootstraponline opened #111 "Custom action Swift example"
It'd be nice to have a simple example of how to do a custom action using Swift.

[2016-06-02 17:27] bootstraponline commented on #110
I implemented replaceText as a custom action and it's much faster.

[code]

[2016-06-02 19:26] bootstraponline commented on #110
New version with error reporting:

[code]

[2016-06-02 22:56] khandpur commented on #110
Looks like you already have something that works. Can we close the bug?

[2016-06-02 22:57] khandpur commented on #103
Any other updates on this? Is it safe to close?

[2016-06-03 02:10] bootstraponline commented on #103
Closed.

[2016-06-03 02:10] #103 closed

[2016-06-03 02:11] bootstraponline commented on #110
I'd like `grey_replaceText` to be in EarlGrey core so that it's not required to create a custom action. This also brings us closer to parity with [Espresso's type text methods](https://google.github.io/android-testing-support-library/docs/espresso/cheatsheet/).

[2016-06-03 06:18] thomas0326 opened #114 "how go to other's page to perform UI and action?"
i want to go to other's page ,because i need to test UI element on other page

[2016-06-03 06:21] tirodkar commented on #114
Hey, for clarification - do you mean a different app process or so? EarlGrey currently cannot perform actions in other processes. Could you provide us details of what the "other's page" means?

[2016-06-03 06:53] thomas0326 commented on #114
I'm sorry.
only I want to find other interface elements to perform action
I want to know can i find out other element ?

[2016-06-03 06:56] tirodkar commented on #114
I see. You can inspect the hierarchy and find other elements by their characteristics like accessibility label, id etc. To do so, put a breakpoint in the test and do:

`[GREYElementHierarchy hierarchyStringForElement:(UIWindow*)[[[UIApplication sharedApplication] delegate]window]];`

Tell us if that works.

[2016-06-03 07:00] thomas0326 commented on #114
OK，think you

[2016-06-03 08:03] thomas0326 commented on #114
hello,
![image](https://cloud.githubusercontent.com/assets/12085333/15772493/fe8d9ede-29a3-11e6-9add-ad9403d28612.png)   why only start no end or path？

I need to draw  swiping right  and down path , how do I code?

[2016-06-03 08:14] thomas0326 commented on #114
I perfom a gesture to unLock  occur a error:
![image](https://cloud.githubusercontent.com/assets/12085333/15772845/27ae3c2c-29a6-11e6-9788-8eb1cb3f3c06.png)

[2016-06-03 08:20] tirodkar commented on #114
You can use something similar to the following for performing scrolls - For a right scroll,

[code]

In case you are trying to scroll to find a particular element, you can also use [`usingSearchAction:onElementWithMatcher`](https://github.com/google/EarlGrey/blob/346a3ab785b2ce1b58bf008191c60c330202bf9f/EarlGrey/Core/GREYInteraction.h#L150).

[2016-06-03 09:25] thomas0326 commented on #114
thanks ，and why xStartPoint and yStartPoint can not less than 0.1?

![image](https://cloud.githubusercontent.com/assets/12085333/15774668/24242620-29b0-11e6-8885-8b7cfd574b1c.png)

[2016-06-03 17:08] tirodkar commented on #114
We've kept that as a minimum amount so as to ensure that the scroll always took place at a starting point away from the edge.

[2016-06-06 10:13] liuhua820522 opened #117 "#import "EarlGrey/EarlGrey.h" not found"
I installed the project by manual and with object c project. After I followed the install document and try to do something, the above error occured and I can click the EarlGreay keyword goto the file.
Also @import module will failed.

I created a new project and the .xcodeproj file in under the root dic. But the one which failed the orignal .xcodeproj is under e.g.  source/projectname/   After I s

[2016-06-06 14:38] bootstraponline opened #118 "Swift conditional example"
Is this the correct way to handle pointers with Swift?

I think this would be useful as a FAQ entry. It works in my test suite.

[code]

[2016-06-06 14:45] tirodkar commented on #117
Is EarlGrey.framework present in your Build Phases? Are you able to use it with Pods by any chance? What do your Build Phases look like?

[2016-06-06 15:18] bootstraponline commented on #118
version 2:

[code]

[2016-06-06 18:32] sid-github commented on #118
You should probably use `AutoreleasingUnsafeMutablePointer` to avoid manually releasing the error pointer.

[2016-06-06 18:45] bootstraponline commented on #118
I'd like to but I'm not sure how to do that. I see this error:

[2016-06-06 18:59] tapthaker commented on #81
Hey Sundeep,
Sorry for the delay, I tried really hard to recreate in the demo project but I am unable to. Not sure why i am getting a EXEC_BAD_ACCESS

The following might help:
Getting the same exception if I try to print the description of [NSThread callStackSymbols] before setting it inside _elementIDToCallStack.

[2016-06-07 05:36] khandpur commented on #114
Where does it say that it must be >= 0.1?

[GREYActions.h](
https://github.com/google/EarlGrey/blob/346a3ab785b2ce1b58bf008191c60c330202bf9f/EarlGrey/Action/GREYActions.h#L334)

[2016-06-07 06:29] khandpur commented on #81
Like this:
[code]
?

the NSLog above worked fine for me.

[2016-06-07 07:09] tapthaker commented on #81
Yes. While trying this I found something interesting. After taking the latest pull the issue seems fixed. I will figure out the exact commit and let you know.

[2016-06-07 15:10] bootstraponline commented on #118
I think I figured it out in https://github.com/google/EarlGrey/pull/122#issuecomment-224308174 The trick is to use `&` with `var error : NSError?`

[2016-06-08 16:05] mcmurrym opened #125 "The Demo project does not work out of the box."
After doing a pod install, the demo project does not work. `grey_accessibilityID` seems to be the culprit which I also can't resolve when I add EarlGrey to my own project. This is making it extremely difficult to want to pursue when the setup is so rickety.

Swift Example:
![screen shot 2016-06-08 at 10 02 19 am](https://cloud.githubusercontent.com/assets/1041326/15901336/24590a08-2d60-11e6-827e-6

[2016-06-08 16:07] bootstraponline commented on #125
What version of OS X & Xcode are you using?

[2016-06-08 16:20] mcmurrym commented on #125
OSX 10.11.5
Xcode 7.3

[2016-06-08 16:35] khandpur commented on #125
Sorry that you're running into this Matt. @tirodkar: could you please help out Matt with this.

[2016-06-08 16:45] khandpur commented on #125
@mcmurrym I think you might be running into:
http://stackoverflow.com/questions/37212028/use-of-unresolved-identifier-grey-accessibilityid/37215155#37215155

[2016-06-08 16:51] mcmurrym commented on #125
I saw that, but just renaming the directory causes the BridgingHeader to fail on the import of `EarlGrey/EarlGrey.h`

[2016-06-08 16:55] mcmurrym commented on #125
This is the example project in the error state before changing the directory name
[EarlGreyExample.zip](https://github.com/google/EarlGrey/files/305302/EarlGreyExample.zip)

[2016-06-08 17:01] bootstraponline commented on #125
Try updating to the latest stable Xcode 7.3.1.

[2016-06-08 17:05] tirodkar commented on #125
This seems to be related to a SourceKit issue with non allowing frameworks with hyphens or so in their names. An update might help in your case.

Try this -

Rename Pods/EarlGrey/EarlGrey-1.0.0 to Pods/EarlGrey/EarlGrey1 and re-add the EarlGrey.framework in your project in the Pods/Pods/EarlGrey/Frameworks directory which should now be red on changing the directory name. Remove the Framework Searc

[2016-06-08 18:22] bootstraponline opened #127 "Accessibility matchers on AX=N elements"
[code]

One of the applications I'm automating has accessibility ids set correctly, but the elements are always `AX=N`. I have to use non-accessibility matchers to find these elements. Why can't I use accessibility matchers to find non-accessible elements that have accessibility attributes like id and label?

[2016-06-08 18:27] tirodkar commented on #127
If you look at accessibilityLabel or so in GREYMatchers, you'll notice that we check if the element is accessible when performing a match. So it doesn't matter if the label is set, the element has to be accessible itself to match.

[2016-06-08 18:29] bootstraponline commented on #127
Right, I understand that. What I'm asking about is matching non-accessible elements using their label.

[2016-06-08 18:42] bootstraponline commented on #127
It looks like this already works... so closing.

[code]

I thought AX=N means we can't use accessibility matchers, but we can.

[2016-06-08 18:42] #127 closed

[2016-06-08 20:03] mcmurrym commented on #125
It works just fine on Xcode 7.3.1 I recommend documenting this as a requirement. No directory renaming needed.

[2016-06-08 20:04] tirodkar commented on #125
On it. Thanks.

[2016-06-08 21:28] #118 closed

[2016-06-09 05:15] khandpur commented on #127
Accessibility id is for testing purposes so it can be used by elements that aren't actually accessible (isAccessibilityElement = NO). On the other hand, accessibility label and hints, etc aren't They require isAccessibilityElement = YES.

[2016-06-09 18:55] khandpur opened #131 "Add swift style guide to contributions doc."
https://github.com/raywenderlich/swift-style-guide

[2016-06-09 19:25] khandpur opened #132 "Add examples.md doc"
FAQ has tons of examples that should be moved to this doc.

[2016-06-10 08:08] Arjunkalidas opened #133 "grey_clearText() fails to execute causing an 'ActionFailedException'"
Description:
The scenario is entering credentials to login to an app. The text were entered to username and password fields.

Steps to reproduce:
1. Entered text in couple of fields
2. Performed a tap in the same set of fields and
3. Tried to clear the text by using grey_clearText().

Actual result:
There was no 'NoMatchingElementFoundException'. It was an 'ActionFailedException'. Element was visi

[2016-06-10 08:20] tirodkar commented on #133
Is the username/password field that is being typed here an embedded web view? How is it presented? I can't seem to find the fields in the Hierarchy. The error states that the field doesn't respond to the "text" property. Could you confirm if it does?

[2016-06-10 08:22] Arjunkalidas commented on #133
Hi,
Its not an embedded webView. its native.

[2016-06-10 18:35] bootstraponline opened #136 "Fix description is sometimes nil"
@khandpur found the code responsible:
https://github.com/google/EarlGrey/blob/0481d29a250a26f7281bad2b5b2019a3060a8c82/EarlGrey/Matcher/GREYAnyOf.m#L37

[2016-06-10 21:12] #131 closed

[2016-06-11 01:31] tirodkar commented on #133
Let's take this offline into our slack discussion.

[2016-06-13 23:31] #136 closed

[2016-06-14 19:40] bootstraponline commented on #55
thoughts on integrating with Facebook's [WebDriverAgentLib](https://github.com/facebook/WebDriverAgent/tree/master/WebDriverAgentLib) which provides alert methods, among other useful methods?

[2016-06-14 21:39] khandpur commented on #55
Briefly looked at the implementation. It's using XCUITest APIs. Doesn't that boil down to https://github.com/google/EarlGrey/issues/63 ?

[2016-06-14 23:44] bootstraponline commented on #55
Kind of, the different is they reimplemented a bunch of the APIs that are broken in XCUITest and have additional features.

[2016-06-15 15:14] bootstraponline commented on #55
I just got the Facebook lib working with EarlGrey and I think it's quite powerful.

- Built WebDriverAgentLib.framework for release
- Added to Link Binary with Libraries
- Updated bridging header:

[code]

- Now I have full access to all the XCUITest APIs, including the Facebook versions (which are almost always better). Including the ability to deal with alerts.

[code]

This is all within the un

[2016-06-15 16:37] bootstraponline opened #138 "Add grey_atIndex(...) element matcher"
Useful for correctly resolving duplicate element issues by index (picking first, last, etc.).

Background: https://github.com/google/EarlGrey/pull/135

`grey_atIndex(...)`

Use cases

- Find nth element in a table
- Resolve duplicate match

[2016-06-16 07:33] tirodkar commented on #114
It has to be greater than 0 and less than one - [GREYActions.h](https://github.com/google/EarlGrey/blob/346a3ab785b2ce1b58bf008191c60c330202bf9f/EarlGrey/Action/GREYActions.h#L146)

[2016-06-16 19:54] khandpur opened #140 "Add EarlGrey Demo project to Travis CI"
Demo project isn't run on Travis at all so we have to manually run them each time after making changes to EarlGrey to confirm that we haven't caused any regression.

[2016-06-16 23:52] bootstraponline opened #142 "Add :tea: to EarlGrey GitHub project description"
🍵

[2016-06-16 23:55] #142 closed

[2016-06-17 19:27] khandpur opened #144 "Add reason for choosing framework vs static library in FAQ"

[2016-06-17 23:28] tirodkar commented on #117
@liuhua820522, was there any update on this?

[2016-06-18 01:42] khandpur opened #146 "Figure out a way to link sources to vendored framework."
This aids in debugging.

[2016-06-18 04:51] khandpur opened #147 "Update README.md with better information about why we collect usage"
Also link to the code that uploads anonymous usage info.

[2016-06-21 00:30] bootstraponline opened #150 "Simple API for waiting"
per slack discussion with @tirodkar:  `waitFor(withTimeout:)`

In my customized Espresso I can just wrap a matcher with `waitFor(...)`. Implementing the same waiting via a condition in EarlGrey works but it's a lot more code. I think it'd be worth investigating a simpler API for waiting (and not having to explicitly create a GREYCondition)`

[2016-06-21 20:24] bootstraponline opened #151 "Compiler error when using EarlGrey from Swift target"
I have a complex setup in the app I'm automating and unfortunately it looks like EarlGrey triggers a Swift compiler bug.
<img width="1140" alt="earlgrey_import_error" src="https://cloud.githubusercontent.com/assets/1173057/16244894/43c08922-37cc-11e6-9e95-3636903f48c4.png">

One of our iOS developers investigated and discovered that if the macro in `EarlGrey.h` is renamed to anything other than `E

[2016-06-21 20:28] tirodkar commented on #151
Is this on CocoaPods?

[2016-06-21 20:30] XericZephyr opened #152 "Disable RichHTML Without-Bounce Test"
Due to a known swipe resistance detection bug, the unit tests of `testComponentsOnLocallyLoadedRichHTMLWithoutBounce` and `testLongTableOnLocallyLoadedRichHTMLWithoutBounce` are temporarily disabled.

[2016-06-21 20:57] bootstraponline commented on #151
No, EarlGrey is loaded via Carthage. I've asked permission to see if I can share the project with Google. Will let you know when I hear back.

[2016-06-21 20:58] tirodkar commented on #151
That would be great. Try changing the EarlGrey.zip file's name or so.

[2016-06-21 21:13] bootstraponline commented on #151
If I rename `Carthage/Build/iOS/EarlGrey.framework` then everything breaks. 😭

[2016-06-21 21:21] tirodkar commented on #151
Try clicking on `EarlGrey.h` and literally type in `EarlGrey.h`. I know sometimes the naming acts in a weird way. Don't rename EarlGrey.framework, but the zip or so that you download.

[2016-06-21 21:23] bootstraponline commented on #151
I don't download a zip... carthage checks out EarlGrey from GitHub master and then builds the framework.

I'll have approval to share the project soon. Will be easier to just wait until then.

[2016-06-23 12:41] Mittchel opened #154 "EarlGrey with IPA"
Is it some what possible to give an IPA to EarlGrey and perform UI tests? Basically what I'm trying to do is create a cloud service where I upload an ipa file and the tests will run automatically.

[2016-06-23 15:09] bootstraponline commented on #154
I think in theory it'd be possible with FBSimulatorControl. See https://github.com/facebook/FBSimulatorControl/issues/267

[2016-06-23 15:12] bootstraponline commented on #152
I don't see these unit tests [anywhere in EarlGrey](https://github.com/google/EarlGrey/search?utf8=%E2%9C%93&q=testComponentsOnLocallyLoadedRichHTMLWithoutBounce). Did you report this issue to the wrong repository?

[2016-06-23 15:13] bootstraponline opened #155 "More consistent web API"
Currently some APIs support both native & web but there's no consistency.

[2016-06-23 15:15] bootstraponline commented on #102
Merged in https://github.com/google/EarlGrey/pull/124

[2016-06-23 15:15] #102 closed

[2016-06-23 19:23] tirodkar commented on #117
Closing due to inaction.

[2016-06-23 19:23] #117 closed

[2016-06-23 19:23] tirodkar commented on #114
@thomas0326, is your problem resolved? Feel free to re-open this question if needed.

[2016-06-23 19:23] #114 closed

[2016-06-23 19:36] bootstraponline opened #156 "Add kGREYConfigKeyScreenshotDirLocation usage to FAQ"

[2016-06-23 20:15] bootstraponline commented on #151
Solved internally by building EarlGrey from source instead of a prebuilt framework via Carthage. 😢

[2016-06-23 20:15] #151 closed

[2016-06-24 05:07] axi0mX opened #158 "EarlGreyFunctionalTests testSwipeOnWindow always fails on iPhone 4S"
I've seen this both in Travis and locally on iOS 8.1 and iOS 9.3 simulators.

[2016-06-24 18:22] bootstraponline opened #160 "HTML reporting for easily viewing test results & failure images"

[2016-06-24 18:32] khandpur commented on #158
I am already working on a fix for that.

[2016-06-27 06:09] axi0mX opened #161 "GREYAutomationSetup grey_modifyKeyboardSettings"
Error

FunctionalTestRig[2353:1633153] CoreData: error: -addPersistentStoreWithType:SQLite configuration:(null) URL:file:///var/mobile/Library/Keyboard/CoreDataUbiquitySupport/mobile~<redacted>/UserDictionary/local/store/CloudUserDictionary.sqlite options:{
    NSReadOnlyPersistentStoreOption = 1;
} ... returned error Error Domain=NSCocoaErrorDomain Code=256 "The file couldn’t be opened." UserInfo

[2016-06-27 10:02] danshao opened #162 "If parent directory has spaces, `setup-earlgrey.sh` will fail and exit"
For example:

EarlGrey is cloned into `/Users/b/Happy Bear/`

[code]

[2016-06-27 17:58] khandpur commented on #161
What's the result of this? Does it crash on startup?

[2016-06-27 19:24] axi0mX commented on #161
It doesn't crash, tests seem to start as normal. I didn't look into it further.

[2016-06-27 21:13] khandpur commented on #161
in that case i would prefer to punt this until it becomes a blocking issue.

[2016-06-29 01:24] tirodkar opened #166 "Add Pinch Gesture For EarlGrey."
Investigate and implement a pinch gesture update.

[2016-06-29 14:00] frankxia2013 opened #167 "Exceptions occured when I use EarlGrey in our project，please help"
It looks like Synchronization was timeout.

** Testcase :**
`- (void) testLoginselectionAndAction{
    [[EarlGrey selectElementWithMatcher:grey_accessibilityID(@"登录")]
     performAction:grey_tap()];
}`

** error log: **
[code]

[2016-06-29 14:06] frankxia2013 commented on #167
[code]

[2016-06-30 17:26] AishSundar commented on #55
I am hitting the same issue where I am unable to automate interacting with SystemAlerts on a real device. It complains saying UIAutomation isn't enabled even though I have enabled it in settings. Looks like I need a jailbroken device to be able to change the setting.

[2016-06-30 22:54] #110 closed

[2016-07-02 00:09] khandpur opened #170 "Update cheatsheet"
Use this link for cheatsheet in README.md:
https://cdn.rawgit.com/google/EarlGrey/master/docs/cheatsheet/cheatsheet.html

and update the version on it. In every release we'd need to point the cheatsheet link in README.md to that release's cheatsheet.md

[2016-07-05 18:25] khandpur opened #171 "Fix warnings in Swift Tests"
From https://travis-ci.org/google/EarlGrey/jobs/142102430:

Compiling FTRSwiftTests.swift
⚠️  /Users/travis/build/google/EarlGrey/Tests/FunctionalTests/Sources/FTRSwiftTests.swift:56:9: variable 'searchButtonMatcher' was never mutated; consider changing to 'let' constant
    var searchButtonMatcher: GREYMatcher = grey_accessibilityHint("Search")
[code]

[2016-07-05 19:16] khandpur commented on #167
According to the stack trace looks like something is constantly being scheduled on the main thread so EarlGrey is unable to find a suitable `idle` time to enqueue the test actions.

[2016-07-06 04:13] axi0mX commented on #171
https://github.com/google/EarlGrey/pull/173

[2016-07-07 07:43] frankxia2013 commented on #167
There is a timer that is set to the main queue constantly,I modified the code of apps and the tests run correctly.
Thank you.

[2016-07-07 08:52] axi0mX commented on #161
It does trigger 2 exceptions during startup, which is a bit inconvenient if you are using an exception breakpoint.

I verified that grey_modifyKeyboardSettings is the source of the issue. There are no more exceptions if you comment it out.

[2016-07-07 09:08] #167 closed

[2016-07-08 19:24] sapieneptus commented on #154
@Mittchel There are a number of cloud solutions which have hosted devices: For example, [Xamarin Test Cloud](https://www.xamarin.com/test-cloud) or [AWS Device Farm](https://aws.amazon.com/device-farm/) (there are a few others as well).

There's a lot to manage when it comes to hosted device UI testing, especially for iOS - you may find it's a quicker win to use a service.

Though if you're lookin

[2016-07-08 19:30] bootstraponline commented on #154
EarlGrey runs on AWS Device Farm today. Xamarin is working on adding official support. I'm not aware of other vendors that are able to run EarlGrey tests well.

[2016-07-09 04:04] tirodkar opened #177 "Add a Contrib project to test out experimental EarlGrey API's."
To be located in the `Demo/` folder and should use the setup script to integrate with EarlGrey.

[2016-07-11 17:40] khandpur commented on #152
sorry for the late reply. They are in my latest PR:
https://github.com/google/EarlGrey/pull/178

[2016-07-12 00:57] #156 closed

[2016-07-12 06:17] tirodkar opened #181 "Solve failures on FTRUIWebViewTest."
Disabled in https://github.com/google/EarlGrey/pull/179.

[2016-07-12 08:50] LinkRober opened #182 "configure_earlgrey_pods.rb"
when I pod install,error occurred **cannot load such file -- configure_earlgrey_pods.rb**

[2016-07-12 08:51] tirodkar commented on #182
Is `configure_earlgrey_pods.rb` present in the same directory as your Podfile?

[2016-07-12 09:19] LinkRober commented on #182
I have solved the problem. the file must be a ruby file.Thx

[2016-07-12 09:19] #182 closed

[2016-07-12 18:18] #72 closed

[2016-07-12 18:18] #89 closed

[2016-07-12 18:40] bootstraponline opened #183 "End to End testing of EarlGrey gem"
The EarlGrey gem is tested using Xcode project fixtures. This ensures that the Xcode project is correctly configured.

There are currently no E2E test to verify that the configured project actually runs. Once we have a working CI solution, it'd be valuable to assert that the final Xcode project successfully executes tests.

[2016-07-12 18:43] bootstraponline opened #184 "Document Carthage setup with EarlGrey gem & Add Carthage badge"

[2016-07-12 18:59] bootstraponline commented on #184
Update: Waiting on next EarlGrey release to write the docs because 1.0.0 isn't Carthage compatible.

[2016-07-12 19:00] #138 closed

[2016-07-12 19:02] bootstraponline commented on #111
Fixed by https://github.com/google/EarlGrey/issues/145

[2016-07-12 19:02] #111 closed

[2016-07-12 19:03] #171 closed

[2016-07-13 02:13] #162 closed

[2016-07-13 04:26] #158 closed

[2016-07-13 14:15] bootstraponline commented on #55
I ended up using [TCC.db modifications](https://github.com/calabash/run_loop/pull/391) to prevent system alerts from showing up on simulators.

[2016-07-13 19:05] khandpur commented on #55
neat. does that work for all types of system alerts?

[2016-07-13 19:24] bootstraponline commented on #55
I think it works for all of them? These are the ones calabash added:

[code]

Updating to include new services is easy.

I also figured out how to [auto configure the simulator keyboard](https://github.com/bootstraponline/run_loop/commit/984bb22474cf9fa4518d42883568bb5ef7d2a27e) to use the Facebook recommendations.

[2016-07-13 20:57] AishSundar commented on #55
Thanks. But as you specified this also works only on a simulator. Any idea
of how to get this working on a real device (not jailbroken)?

On Wed, Jul 13, 2016 at 12:24 PM, bootstraponline <notifications@github.com>
wrote:

--
*Aishwarya Sundar*

[2016-07-13 21:13] bootstraponline commented on #55
I'd expect WebDriverAgentLib to work on real non-jailbroken devices. I haven't verified that though.

[2016-07-13 22:24] AishSundar commented on #55
It didnt not work the last time I tried to get this going on a device. So
please let me know if you are successful.

On Wed, Jul 13, 2016 at 2:13 PM, bootstraponline <notifications@github.com>
wrote:

--
*Aishwarya Sundar*

[2016-07-13 23:43] bootstraponline commented on #55
I only test on simulators since physical devices don't scale. If WebDriverAgentLib isn't working on physical devices then you might want to open an issue on their repo since [Facebook tests on physical devices.](https://techcrunch.com/2016/07/13/facebook-lifts-the-veil-on-its-mobile-device-lab/)

[2016-07-21 00:19] tirodkar opened #194 "EarlGrey does not work with Address Sanitizer."
As is documents in our [known issues](https://github.com/google/EarlGrey/blob/master/docs/known-issues.md), EarlGrey does not work if you are using Address Sanitizer with your test app.

Some simple repro steps for this are:

* Go to the FunctionalTest.xcodeproj file.
* In the `FunctionalTestRig` Scheme, under Diagnostics, turn on `Enable Address Sanitizer` for both the Run and Test Options.

![sc

[2016-07-21 18:29] tirodkar commented on #194
I filed a related bug with fishhook as well -

https://github.com/facebook/fishhook/issues/21

[2016-08-08 06:47] khandpur opened #208 "Move Analytics and Visibility checker to core package"
They shouldn't be in common.

[2016-08-08 06:49] khandpur commented on #81
Closing this. Feel free to open if this issue resurfaces.

[2016-08-08 06:49] #81 closed

[2016-08-08 06:50] khandpur commented on #125
Closing as this fixed.

[2016-08-08 06:50] #125 closed

[2016-08-08 06:52] khandpur commented on #132
Moved most questions from FAQ to stack overflow. Examples.md should be added next.

[2016-08-08 21:05] bootstraponline opened #211 "grey_webSetText fails when there's no title or value"
Given the following input:

Matching on title or value will fail.

[code]

Place holder matching works but it's not unique.

[code]

I think we need to allow matching on arbitrary XPath selectors since there's no way to control the content of the webview.

[2016-08-09 01:55] tirodkar opened #212 "Add support for EarlGrey.swift and Swift 2.2"
We updated our EarlGrey.swift file to 3 but this acts as a blocker for anyone not using Swift 3 that could be easily overcome by having two version of the EarlGrey.swift file for Swift 2.2 and Swift 3.

[2016-08-09 23:10] gurgeous opened #214 "cocoapods 0.39 / xcodeproj conflict"
I tried to use EarlGrey with cocoapods 0.39. I think this is supported, but there's a conflict between xcodeproj versions. Pod install fails:

`Gem::LoadError - Unable to activate earlgrey-0.0.8, because xcodeproj-0.28.2 conflicts with xcodeproj (>= 1.0)`

https://rubygems.org/gems/cocoapods/versions/0.39.0
https://rubygems.org/gems/earlgrey/versions/0.0.8

Am I interpreting this correctly? Any su

[2016-08-10 00:54] bootstraponline commented on #214
It's not. The EarlGrey gem requires xcodeproj 1.0 or newer.

[2016-08-10 00:59] tirodkar commented on #214
@gurgeous, CocoaPods has an internal dependency on xcodeproj which the earlgrey gem conflicts with. You can still use EarlGrey with CocoaPods, but you won't be able to use the gem for it.

We **highly** recommend that you update your CocoaPods version. In case you're blocked and cannot do so - take a look at our old EarlGrey install and release guide for CocoaPods where you'd have to manually copy

[2016-08-10 01:27] bootstraponline commented on #211
In Espresso, I can login via arbitrary CSS selectors or XPath.

[code]

[2016-08-10 02:29] gurgeous commented on #214
I will attempt to update to the latest cocoapods. Our app is complex and the upgrade we attempted several months ago was not a success.

We should probably revise the install page:

https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md

which contains stale instructions for using 0.39. Thanks guys!

[2016-08-10 17:00] khandpur commented on #214
Thanks for updating our instructions Adam!

[2016-08-10 17:00] #214 closed

[2016-08-15 19:49] gurgeous opened #221 "configure_earlgrey - CommandLineArguments crash"
During `pod install` with cocoapods 1.0.1, see below. I believe this is because our xcscheme has `EnvironmentVariables` but not `CommandLineArguments`.

[code]

[2016-08-15 20:31] bootstraponline commented on #221
Thanks for reporting this issue! It's a bug in the EarlGrey gem.

[2016-08-15 20:47] tirodkar commented on #221
@gurgeous - to confirm, you don't have <CommandLineArguments> present anywhere in your xcscheme file?

[2016-08-15 20:51] gurgeous commented on #221
My xcscheme file has `<EnvironmentVariables>` but no `<CommandLineArguments>`

[2016-08-15 20:54] tirodkar commented on #221
Our [demo app schemes](https://github.com/google/EarlGrey/tree/master/Demo/EarlGreyExample/EarlGreyExample.xcodeproj/xcshareddata) do not have any CommandLineArguments either. Would you mind posting your scheme or something analogous to it? This seems like a case we aren't covering.

[2016-08-15 21:02] gurgeous commented on #221
I cannot post my xcscheme, unfortunately. I diagnosed the bug by inspecting the code in the gem... Could be wrong, though. When I removed my `<EnvironmentVariables>` section I was able to complete the `pod install`.

[2016-08-15 21:31] bootstraponline commented on #221
It'd be nice if you could post a redacted version of the xcscheme so we can reproduce & resolve the bug. The schemes in our test suite contain `<EnvironmentVariables>` and they work correctly.

[2016-08-16 20:43] gurgeous commented on #221
When I read the code in your gem, it looks like this line will fail:

`launch_action_args.elements.each ...`

when the following conditions are true:

- EnvironmentVariables in launch action
-

[2016-08-16 20:56] tirodkar commented on #221
Yes, we assume that if you've come to that step then you have both Environment Variables and Command Line Args present in your scheme. [Here](https://github.com/google/EarlGrey/blob/master/gem/lib/earlgrey/configure_earlgrey.rb#L212), we in fact add a temporary CommandLineArg call for it. This does actually seem like a legitimate issue. Please feel free to reopen this if you can provide us a redac

[2016-08-16 21:40] gurgeous commented on #221
I've had three serious install issues trying to get EarlGrey working with our app, so I'm moving on now. I might try again when there's broader adoption. Thanks guys, good luck!

[2016-08-16 21:55] tirodkar commented on #221
@gurgeous - Thanks for bringing the issues to our attention. It would be great if you gave us your email id so we could invite you to join our [slack channel](https://googleoss.slack.com/messages/earlgrey). We're trying with every new iteration of EarlGrey to make the installation process smoother, and we'd love to help you step directly through any issues that you're facing.

I'm re-opening this

[2016-08-16 22:04] gurgeous commented on #221
sure - amd@gurge.com

[2016-08-16 22:06] tirodkar commented on #221
Invite Sent! Thanks.

[2016-08-18 19:16] bootstraponline commented on #211
https://gist.github.com/tirodkar/cf4a72d98264545749b063e79838fa03 looks like a good work around until the new webview APIs are ready.

[2016-08-19 05:36] #212 closed

[2016-08-22 15:45] bootstraponline opened #234 "EarlGrey master broken on carthage"
[code]

[code]

[2016-08-22 16:03] bootstraponline commented on #234
EarlGrey v1.1.0 has the same problem.

[2016-08-22 16:26] bootstraponline commented on #234
Hi,

This is an early draft of the Carthage documentation I'm working on.

[code]

If you follow the steps, you'll be able to reproduce the error on the `carthage update` step.

[2016-08-22 16:57] bootstraponline commented on #234
I used the verbose flag to discover the xcode build command used by carthage.

Running the following reproduces the error:

[2016-08-23 07:36] khandpur commented on #170
This was done for release 1.1.0 See https://github.com/google/EarlGrey/pull/224

[2016-08-23 07:36] #170 closed

[2016-08-23 07:38] khandpur commented on #177
Isn't this done?

I see that project here: https://github.com/google/EarlGrey/tree/master/Demo/EarlGreyContribs

[2016-08-23 07:40] tirodkar commented on #177
This is completed in https://github.com/google/EarlGrey/pull/188. Closing this.

[2016-08-23 07:40] #177 closed

[2016-08-23 07:43] tirodkar commented on #133
@Arjunkalidas, is this still a problem? Please reopen this issue if it still persists.

[2016-08-23 07:43] #133 closed

[2016-08-23 07:46] tirodkar commented on #152
Disabled in https://github.com/google/EarlGrey/pull/179

[2016-08-23 07:46] #152 closed

[2016-08-23 09:43] khandpur commented on #211
Would adding a css selector as a matcher address this issue? If so, we could rephrase this to sound like a feature request and add the example above as a test for the feature.

[2016-08-23 15:00] bootstraponline commented on #211
Yes.

[2016-08-24 08:50] #234 closed

[2016-08-24 19:17] #221 closed

[2016-08-25 11:58] Arjunkalidas commented on #133
Sure will do. Thanks.

On Tuesday 23 August 2016, Aditya Atul Tirodkar <notifications@github.com>
wrote:

--
Cheers,
Arjun Kalidas
Mobile : +91-9620747933
Email : arjunkalidasm@gmail.com

[2016-08-26 05:49] Milesyan commented on #221
Seems the latest fix has some problem.
I checkout the last master and meets ```[!] An error occurred while processing the post-install hook of the Podfile.

undefined method `elements' for nil:NilClass

/Users/Miles/.rvm/gems/ruby-2.2.1/gems/earlgrey-0.0.9/lib/earlgrey/configure_earlgrey.rb:246:in `add_environment_variables_to_test_action_scheme'
/Users/Miles/.rvm/gems/ruby-2.2.1/gems/earlgrey-0.0

[2016-08-26 05:53] tirodkar commented on #221
@Milesyan - this fix is not yet part of the `earlgrey gem`. Do you have environment variables present in the Launch Action of your Scheme? Could you copy the [configure earlgrey script](https://github.com/google/EarlGrey/blob/master/gem/lib/earlgrey/configure_earlgrey.rb) from head and see if the issue still persists?

[2016-08-26 22:30] mbaxley opened #239 "FTRKeyboardKeysTest fails on iPad - iOS 10"
Multiple typing tests fail when run on iOS 10 iPad Air 2. I tested on beta 5 and beta 6. All the tests passed when I ran it on iPhone 6s simulator on iOS 10 beta 6.

testSymbolsTyping failed 5 out of 5 times (for a simple test case to repro).

Some of the other tests that failed on iOS 10 iPad were:
testNumbersAndSpacesTyping
testSymbolsAndSpacesTyping
testUIKeyboardTypeASCIICapable
testUIKeyboard

[2016-08-26 22:32] tirodkar commented on #239
Thanks for bringing this to our attention @mbaxley, we'll test it out asap.

[2016-08-30 16:33] DiedeGu opened #241 "method grey_pickerColumnSetToValue works while Userinteraction disabled"
Dear reader,

I was able to use the grey_pickerColumnSetToValue() method successfully on a UIPicker that I set to userInteractionEnabled to false with the Interface Builder. In other words, I was able to change the value of the UIPicker. I think this should not be the case but I am not that deep into acceptance testing and accessibility settings.

If you want a example project I could set one up.

[2016-08-30 18:23] tirodkar commented on #241
@DiedeGu, could you use `GREYElementHierarchy` or `grey_description` and print the details of the UIPicker?

[2016-08-31 02:33] khandpur commented on #241
Wouldn't it be easier to add a test to our [existing picker view test](https://github.com/google/EarlGrey/blob/0481d29a250a26f7281bad2b5b2019a3060a8c82/Tests/FunctionalTests/Sources/FTRPickerViewInteractionTest.m) suite to demonstrate the unexpected behavior?

[2016-08-31 13:22] DiedeGu commented on #241
Hi Guys!

Thanks for the advise, I extended the test with one for a disabled UIPicker. Now I have some questions concerning both the test and its fix.

1. Is the test ok?
I currently perform the set to value method and then assert if the disabled UIPicker kept the original value. Do you want the test to be like this or do you want to test if a error is given when you try this on a disabled UIPicke

[2016-08-31 17:53] khandpur commented on #241
1. I would rather pass in an error in form of a constraint failure. GREYPickerAction has the following constraints:
- `grey_interactable()`
- `grey_not(grey_systemAlertViewShown())`
- `grey_kindOfClass([UIPickerView class])`
and I would add grey_userInteractionEnabled() to it after grey_interactable().
Then your test should pass in an error object (`performAction:error:`) assert that the error is

[2016-08-31 18:09] mbaxley commented on #239
Thanks! I have one semi-related question. In other frameworks, we typically avoided the delay of typing (and flake that wasn't un-common) by having utilities to paste text. Is this something EarlGrey plans to support (or supports and I didn't find it)? Or do you prefer clients do this type of thing themselves?

[2016-08-31 18:13] bootstraponline commented on #239
I added support for replace text which bypasses typing. That should do what you want.

[2016-08-31 20:30] bootstraponline opened #242 "Add FAQ on how to handle deep links"

[2016-09-01 17:27] sid-github commented on #166
EarlGrey 1.2.0 Adds this feature

[2016-09-01 17:27] #166 closed

[2016-09-01 17:30] sid-github commented on #166
Just FYI the actions are called: `grey_pinchFastInDirection` and `grey_pinchSlowInDirection`
listed in [GREYActions.h](https://github.com/google/EarlGrey/blob/master/EarlGrey/Action/GREYActions.h).

[2016-09-02 07:22] jeff77731 opened #248 "How to performactions with tap on the keyboard"
As title,

Is there a way to trigger the tap event on keyboard with "return" key?

[2016-09-02 07:29] tirodkar commented on #248
Hey @jeff77731, EarlGrey has a type action that lets you perform any typing with the keyboard that you need. In the case of the return key you could perform a typing action like:
[code]
as in [this test](https://github.com/google/EarlGrey/tree/master/Tests/FunctionalTests/Sources/FTRKeyboardKeysTest.m#L238).

which will press the return key. You can also select the return key itself and tap it usi

[2016-09-02 17:08] #184 closed

[2016-09-02 22:04] tirodkar commented on #248
@jeff77731, closing this for now. Do reopen if there might be something more you'd like to add here.

[2016-09-02 22:04] #248 closed

[2016-09-02 23:34] tirodkar commented on #108
@PikaRules, was there any update on this from your side? Is it still present?

[2016-09-07 14:02] Arcank opened #253 "grey_replaceText() doesn't send UITextFieldTextDidChangeNotification nor UIControlEventEditingChanged"
grey_replaceText() doesn't send UITextFieldTextDidChangeNotification

When using grey_replaceText() on a UITextField, it should send the UITextFieldTextDidChangeNotification notification.

As of today:
https://github.com/google/EarlGrey/blob/38b490e5a156f16a00dd7777b4c4cdcffe6a4e24/EarlGrey/Action/GREYActions.m#L332
But setText: doesn't send the notification.

You might send the notification yours

[2016-09-07 14:18] bootstraponline commented on #253
Nice. Want to send a pull request?

[2016-09-08 16:34] Arcank commented on #253
Dummy project reproducing:
[TestUITextFieldNotifications.zip](https://github.com/google/EarlGrey/files/462136/TestUITextFieldNotifications.zip)

[2016-09-08 21:26] gurgeous opened #258 "can't find UITableViewCell"
I am trying to tap a UITableViewCell with accessibilityLabel "7116" but EarlGrey can't find it:

[code]

Output below. If I replace that line with the following:

[code]

it works fine.

[code]

Any suggestions? Thanks guys.

[2016-09-08 21:26] gurgeous commented on #258
Oh, and I'm using 1.2.0.

[2016-09-08 21:49] tirodkar commented on #258
@gurgeous, how many times is `AX.label='7116'` visible in your hierarchy? This might be a multiple matchers exception being incorrectly thrown as something else.

However, notice how `<UITableViewCell; AX=N` is present for that cell. EarlGrey needs the element to be accessible. Can you match on `Austin` or `Texas` as the accessibilityLabel instead?

[2016-09-08 21:50] khandpur commented on #258
From the hierarchy:
```<UITableViewCell; AX=N; AX.label='7116'; AX.frame={{0, 64}, {375, 44}}; AX.activationPoint={187, 86}; AX.traits='UIAccessibilityTraitButton'; AX.focused='N'; frame={{0, 0}, {375, 44}}; opaque; alpha=1; text='Austin'>```

you can see that the accessibility label is set to 7116, not the identifier. You would need to set the identifier in your code where you dequeue the cell (i

[2016-09-08 21:54] tirodkar commented on #258
Just noticed from @khandpur's comment that the second case used `grey_kindOfClass` rather than `grey_accessibilityIdentifier`. This isn't related to multiple matchers then.

[2016-09-08 22:04] gurgeous commented on #258
Thanks for the tip - it works if I set`isAccessibilityElement=YES`. Can we improve the error message? There are several improvements that I can imagine:

- Don't mention tapping at all if the matcher can't find the element
- When using grey_accessibilityLabel, point the user at accessibilityLabel (not accessibilityIdentifier)
- Give the user a hint about isAccessibilityElement if the element is fo

[2016-09-09 14:03] Arcank opened #262 "testFastTypingOnWebView is failing on master"
I get this error:

  Assertions: Action 'Clear text' was not performed because no UI element matching ((respondsToSelector(isAccessibilityElement) && isAccessibilityElement) && accessibilityHint("Search")) was found.

[2016-09-09 19:05] bootstraponline commented on #262
We probably need to move this test to use local HTML instead of loading a live version of Google.com

[2016-09-09 19:07] bootstraponline commented on #154
It looks like Xcode 8 will enable using EarlGrey with an app built for testing.

[2016-09-09 20:43] yaphatak opened #264 "Couldn't run test on real device"
This is error that I see.

Device iPhone 6 with OS 10.01(14A403). its ios10 GM

[User Defaults] Failed to write value for key AutomationEnabled in CFPrefsPlistSource<0x1740f6c80> (Domain: com.apple.Accessibility, User: kCFPreferencesCurrentUser, ByHost: No, Container: (null)): setting preferences outside an application's container requires user-preference-write or file-write-data sandbox access, s

[2016-09-12 22:25] tirodkar opened #267 "Add improvements in the Failure Error Message for cases mentioned in Issue #258."
* Don't mention tapping at all if the matcher can't find the element
* When using grey_accessibilityLabel, point the user at accessibilityLabel (not accessibilityIdentifier)
* Give the user a hint about isAccessibilityElement if the element is found but isn't marked as accessible. I had no idea what AX=N meant.

As mentioned [here](https://github.com/google/EarlGrey/issues/258#issuecomment-2457563

[2016-09-13 01:41] tirodkar commented on #258
Closing this for now. The Issues were tracked in another bug. Thanks @gurgeous

[2016-09-13 01:41] #258 closed

[2016-09-14 23:17] #253 closed

[2016-09-15 05:37] axi0mX commented on #264
I wonder why the log is not symbolicated.

Looks like the crash is happening in Swift runtime in the not equal operator, being called from your app binary.

$ xcrun swift-demangle _TFsoi3neeFTGSqPs9AnyObject__GSqPS____Sb
_TFsoi3neeFTGSqPs9AnyObject__GSqPS____Sb ---> Swift.!== infix (Swift.AnyObject?, Swift.AnyObject?) -> Swift.Bool

For some reason I can't demangle the other 2 mangled names. They

[2016-09-15 08:19] khandpur commented on #264
+1 I can also run our functional tests just fine on my iPhone 6s running iOS 10

[code]

[2016-09-16 00:21] yaphatak commented on #264
Thanks @axi0mX , @khandpur : When I tried this , I also just build app and launch it and it didn't crash. There is no test code as it was failing in set up itself.
We recently fixed few bugs with Swift 3 migration. I will try with latest code for our app and let you know.

[2016-09-16 00:22] tirodkar commented on #264
@yaphatak, as mentioned, it would be great if you could please provide us with a repro project or reproduce the issue with our tests projects. Do tell us what you find. Thanks.

[2016-09-16 00:36] yaphatak commented on #264
Yes I will do that. It will be sometime next week hopefully. So if you want to close this I am fine with it, as you guys can't repro it with same configuration of device and host.

[2016-09-16 13:28] foulkesjohn opened #270 "typeText fails if textfield has input accessory"
Details here: http://stackoverflow.com/questions/39295444/waiting-for-viewdidappear-call-on-uicompatibilityinputviewcontroller

[2016-09-16 19:50] gurgeous opened #271 "UIAlertController.StyleAlert button duplicity wrinkle"
I can't easily test UIAlertController.StyleAlert because each button has two accessible views with the same label:

[code]

It's easy to workaround the issue with grey_allOf, but this is a common case that should be handled by the framework in my opinion.

[2016-09-16 20:30] tirodkar commented on #271
Hmm, I wonder if that might be an issue when considering tapping on custom UIAlertControllers that have their own views in the buttons or so. BTW, are you able to tap on the alert using `grey_text(@"Download")`? as in [here](https://github.com/google/EarlGrey/blob/master/Tests/FunctionalTests/Sources/FTRAlertViewTest.m#L53)

[2016-09-16 21:24] gurgeous commented on #271
`grey_text` works great, thanks! This is the first I heard of it, though, and I've been perusing the project for a few weeks now. Is it documented somewhere?

[2016-09-16 21:28] tirodkar commented on #271
It isn't documented anywhere per se, it's a part of disambiguating the matchers. Notice how in the trace,

[code]

The `text='Download'` was what separated the two. We try to provide matchers that can help identify and pinpoint these differing characteristics.

[2016-09-16 21:58] bootstraponline commented on #271
Yes, it's documented [in the cheatsheet](https://github.com/google/EarlGrey/tree/master/docs/cheatsheet)

[2016-09-16 22:22] gurgeous commented on #271
Just listing the method name doesn't count! :)

If this is the best way to find buttons, it should be more prominent in the docs.

[2016-09-16 22:25] tirodkar commented on #271
@gurgeous, agreed :). We have the [Selection API](https://github.com/google/EarlGrey/blob/master/docs/api.md#selection-api) section in our docs to cover this. If you feel it's not clear enough when it comes to pointing to grey_text(), then feel free to add to it or provide a suggestion on how to make it more clear to users.

[2016-09-16 22:46] yaphatak commented on #264
I tried example project as suggested. Example app keep crashing. This is on iphone 5s and OS 10.0.1
(Also this example project didnt work as is on xcode 8. So i converted to Swift3. )

`Error Domain=com.apple.platform.iphoneos Code=-12 "Unable to launch com.google.samples.EarlGrey" UserInfo={NSLocalizedDescription=Unable to launch com.google.samples.EarlGrey, NSUnderlyingError=0x7ff300284340 {Erro

[2016-09-16 22:51] tirodkar commented on #264
@yaphatak, just to confirm, this was a vanilla run on a 5s on iOS 10.0.1 on Xcode8? (Thanks for the heads up on the conversion. Feel free to send a PR for it or we'll get it in in the coming release.)

[2016-09-17 00:25] khandpur commented on #147
This was done by @tirodkar in #255

[2016-09-17 00:25] #147 closed

[2016-09-17 00:35] liaoyuke commented on #239
I debugged this issue, and find out that it is caused by bad synchronization.

The implementation of EarlGrey's tapKey function is as following:

When typing a string, it basically types a character and wait for **some amount of time** (drainOnce) before typing next one. The tests fail because the animation, triggered by switching keyboard mode, is taking longer to finish than the waiting time, so

[2016-09-17 00:37] tirodkar commented on #239
@liaoyuke, what you're saying is precisely what I'm trying to do [here](https://github.com/google/EarlGrey/pull/272/files#diff-645ec08a66bbdc2ebc9af618844a9865R465). Thought it does cause quite some failures. I wonder how many users would be fine with slow typing?

[2016-09-17 00:49] khandpur opened #274 "GREYAssert does not wait for UI to settle"
This was brought up by @gurgeous on EarlGrey's slack channel.

[2016-09-17 00:52] khandpur opened #275 "Convert all idlingResource to event-based"
isIdleNow method is polled by the thread executor. Instead use event-based polling which causes the thread executor to call CFRunLoopRun and once all the idling resources are idle, a CFRunLoopStop is issued, returning control back to the thread executor.

[2016-09-17 01:49] bootstraponline commented on #239
Slow & stable is better than fast + flaky. For fast typing, replace text is a better choice.

[2016-09-20 04:17] jeff77731 opened #285 "How to extension GREYMatchers?"
I want to extension GREYMatchers for customize my own matcher

	extension GREYMatchers {

		public func grey_btnEnable(enable: Bool) -> GREYMatcher! {
			let matches: MatchesBlock = { (element: AnyObject!) -> Bool in
				return (element as? UIButton)!.enabled == enable
			}

			let describe: DescribeToBlock = { (description: GREYDescription!) -> Void in
				description.appendText("test")
			}

[2016-09-20 04:28] tirodkar commented on #285
Remember that `grey_accessibilityID ()` etc. are c functions. You've created a swift method on GREYMatchers if I'm right. Instead, add it as a method in your file, akin to `grey_firstElement` [here](https://github.com/google/EarlGrey/blob/master/Tests/FunctionalTests/Sources/FTRSwiftTests.swift#L189).

[2016-09-21 17:56] ajsecord opened #287 "configure_for_earlgrey fails if current directory doesn't contain the Podfile"
CocoaPods supports running `pod install` with a `--project_directory` option that should effectively act like

[code]

When doing so with a CocoaPods project configured using the current EarlGrey installation instructions, using `--project_directory` causes `configure_for_earlgrey` to fail with the following error message:

[code]

Note that it's trying to open the .xcodeproj from the current dire

[2016-09-21 17:59] ajsecord commented on #287
This is CocoaPods version 1.0.1, by the way.

[2016-09-21 18:06] tirodkar commented on #287
Hmm, since we use the path for finding the project [here](https://github.com/google/EarlGrey/blob/master/gem/lib/earlgrey/configure_earlgrey.rb#L73) Is this fixed if you pass the path to the project to the configure script instead of just the name? We'll get in support for this feature asap. Thanks.

[2016-09-21 19:08] ajsecord commented on #287
The issue is that the Podfile should work when `pod install` is invoked both inside the directory and from somewhere else with `--project_directory`. If I understand your suggestion correctly, that would end up making it work for one option but no longer for the other. Some kind of variable set by CocoaPods is needed, I think. I spent some time looking for one, but my CocoaPods/Ruby fu is poor.

[2016-09-23 05:36] tirodkar commented on #287
@ajsecord, you can directly pass in the project path with every single time you call the configure script for every pods target that you have. We'll try to add this as a flag to adding EarlGrey as well. Thanks.

[2016-09-23 15:12] ajsecord commented on #287
@tirodkar Thanks for the idea, but I don't think that will work. How could my Podfile know in advance the right path? It needs to work both if `pod install` is called from the same directory as the Podfile and from some other directory but with the `--project-directory` flag.

[2016-09-26 18:29] mbaxley commented on #239
Flaky typing is definitely way worse than slow typing. My only concern about slowing it down is making sure that draining until idle actually fixes the problem, and isn't acting as a delay which doesn't address the underlying issue. If It is logical why drainUntilIdle fixes it, then I think it's fine.

[2016-09-26 19:23] tirodkar commented on #239
@mbaxley, that's precisely what adding drain until idle did to the travis tests in my test PR. It seems that we need to focus more on synchronizing correctly with the keyboard rather than change the delay amount.

[2016-09-26 21:24] liaoyuke commented on #239
I wonder if it is redundant to have waitUntilAllTasksAreFinished? Since drainUntilIdle is going to wait for the UI to finish loading anyway.

[2016-09-27 13:28] bootstraponline commented on #287
I debugged this and here's how to get the project directory.

[code]

[2016-09-27 14:08] DiedeGu opened #288 "Can still tap while UIAlertView is shown"
when my application throws an UIAlertView I am still able to let EarlGrey tap on a button, while I am not able to press this button, (it is not part of the UIAlertView) during an manual test.

[2016-09-27 21:01] tirodkar commented on #288
EarlGrey cannot handle system dialogs [similar issue and workaround here](https://github.com/google/EarlGrey/issues/55). In fact, all touches to it go straight through, which is probably what you're seeing here.

Could you confirm if this was a system alert view?

[2016-09-28 02:47] axi0mX opened #289 "GREYAssert in a dispatch_sync block crashes the app"
Message((__objc_no) is true) failed is shown in Xcode.

My branch which will repro this issue:
https://github.com/axi0mX/EarlGrey/tree/crash

Tested on Xcode 8, iOS 10 simulator (iPhone SE).

[2016-09-28 22:46] Arcank opened #291 "Participate in Hacktoberfest?"
https://github.com/blog/2260-hacktoberfest-is-back

Should/could this repo participate?

[2016-09-28 23:09] tirodkar commented on #291
Yes it could, you can add your contributions in any hashtags that you have.

[2016-09-28 23:27] tirodkar commented on #288
@DiedeGu, any updates on this?

[2016-09-29 01:27] #291 closed

[2016-09-29 08:33] DiedeGu commented on #288
@tirodkar yes, sorry, it is a system alert thank you for replying.

[2016-09-29 08:33] #288 closed

[2016-09-30 22:15] tirodkar opened #292 "Support Swift 3 syntax in the EarlGrey Gem."

[2016-09-30 22:16] tirodkar commented on #292
This also requires updating all of the test / demo / contrib projects.

[2016-10-01 06:14] steipete opened #293 "Inject events via [[UIApplication sharedApplication] _enqueueHIDEvent:]"
Digging into EarlGrey again and all the technical crazy/beauty that's in there. This is such an awesome project.

So. Did some research around the use of `IOHIDEvent` since both KIF and EarlGrey need to use that, and found out that WebKit's TestRunner is doing that as well - but slightly differently than the approach on our testing tools here.

Check out this line specifically:
https://github.com/

[2016-10-03 04:53] tirodkar commented on #293
Thanks for bringing this to our attention Peter! For future EarlGrey versions, we'd want to have the tapping handled directly by XCUITests's tap. If I'm right, that would pretty much circumvent the need to use `IOHIDEvent` altogether.

[2016-10-03 19:01] khandpur commented on #264
Yatin, following up to see if you were able to get this issue resolved?

[2016-10-03 19:04] tirodkar commented on #285
@jeff77731, were you able to solve your issue with this? Feel free to reopen the issue in case it is still present.

[2016-10-03 19:04] #285 closed

[2016-10-03 19:20] yaphatak commented on #264
@khandpur Our debug build has some issues running with EarlGrey but release one worked just fine. Actually I worked with @tirodkar on this. Thanks for all support. I am closing this now

[2016-10-03 19:20] #264 closed

[2016-10-04 23:23] tirodkar commented on #241
I believe this was closed in https://github.com/google/EarlGrey/pull/251. @DiedeGu, feel free to re-open this in case it wasn't.

[2016-10-04 23:23] #241 closed

[2016-10-04 23:23] tirodkar commented on #270
@foulkesjohn, it would immensely help us if you could provide us a minimum possible Test project that contains this issue. Thanks a lot.

[2016-10-04 23:26] tirodkar commented on #270
Alternatively, please add to our FunctionalTests project and see if you could please repro the issue.

[2016-10-05 01:25] #287 closed

[2016-10-05 11:14] rotemmiz opened #296 "Idling Resources Philosophy"
Hello there,

I am trying to understand the philosophy behind using multiple IdlingResources, it seems like Google made a great effort to create all kinds of sophisticated mechanisms to stick with this idea.

The documentation addresses this by saying:

Though it works great (in most cases), I am still not sure what makes it better than just observing changes in the UI, and waiting for an element

[2016-10-05 13:14] bootstraponline commented on #296
There have been many presentations at GTAC about Espresso. Search for them on youtube.

[2016-10-05 19:55] tirodkar commented on #296
I found this video on Idling Resources - https://www.youtube.com/watch?v=uCtzH0Rz5XU
We actually do want to make the Idling resources more event driven, so able to find changes in UI etc. Would you propose any better way to provide them by any chance?

You can get more info on Espresso here - https://google.github.io/android-testing-support-library/docs/espresso/. I believe they have their own com

[2016-10-07 23:18] tirodkar opened #302 "xcpretty throwing issues with Travis Runs."
``highlight_with_formatter': undefined method `include?' for nil:NilClass (NoMethodError)`

Reverting xcpretty to 0.2.2 for this.

Related issue: https://github.com/supermarin/xcpretty/issues/241

[2016-10-11 06:58] supermarin commented on #302
xcpretty 0.2.4 fixed this

[2016-10-11 07:20] tirodkar commented on #302
Thanks a ton for the fix @supermarin We'll revert it asap.

[2016-10-14 21:07] bootstraponline opened #308 "Document Xcode 8 build-for-testing & test-without-building"
https://github.com/fastlane/fastlane/issues/6543#issuecomment-253849019

[2016-10-17 15:53] bootstraponline opened #309 "EarlGreyExample fails to run on Xcode 8"
“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

[2016-10-17 18:09] tirodkar commented on #309
If I'm right, this is the same issue as https://github.com/google/EarlGrey/issues/292.

[2016-10-17 18:12] bootstraponline commented on #309
Yep, looks like it. Closing.

[2016-10-17 18:12] #309 closed

[2016-10-18 21:19] bootstraponline commented on #308
fixed by https://github.com/fastlane/fastlane/issues/6543

[2016-10-18 21:19] #308 closed

[2016-10-19 09:54] yufenglv opened #313 "Killed by system"
The app will be killed , the log as follow:
<img width="515" alt="2016-10-19 5 48 29" src="https://cloud.githubusercontent.com/assets/1837609/19513941/611f5adc-9624-11e6-94b1-10d9de97d115.png">

Maybe EarlGrey stops and wakeups the thread too often in `- (void)grey_drainRunLoopInActiveModeForDrains:(NSUInteger)exitDrainCount`

![lalofg9cws0bn80dew_787_311](https://cloud.githubusercontent.com/asset

[2016-10-19 10:15] tirodkar commented on #313
Do you have any repro steps for this such as the test being run/the environment and any logs?

[2016-10-19 19:06] khandpur commented on #313
According to the logs, wakeup's are `Triggered by thread: 268` GREYUIThreadExecutor and EarlGrey in general synchronizes with the UI / main thread; i.e. Thread 1. Have you rules out all other background threads?

[2016-10-19 22:24] khandpur commented on #293
Yup. One of the goals for the next version of EarlGrey is to reduce our dependency on private APIs with touch injection being the major contender.

[2016-10-19 23:50] khandpur commented on #302
Fixed in #306

[2016-10-19 23:50] #302 closed

[2016-10-19 23:51] khandpur commented on #270
@tirodkar was able to repro this and is working on a fix.

[2016-10-20 14:51] LeoNatan opened #317 "Slow Scrolling Performance with macOS Sierra & Xcode 8"
While working on [Detox](https://github.com/wix/detox), a testing suite for React Native applications, I've noticed the following issue, which at first puzzled me.

When running a test that requires scrolling to an edge (scroll to bottom, scroll to top), under macOS Sierra & Xcode 8.0, tests would fail due to timeout in my system. Running the same test on a different machine with OS X El Capitan &

[2016-10-20 19:00] tirodkar commented on #317
Thanks for bringing this to our attention @LeoNatan. @sid-github is working on a change https://github.com/google/EarlGrey/pull/318 that is currently related to this.

[2016-10-20 19:06] LeoNatan commented on #317
@tirodkar Thanks for your response. What is puzzling is that the Sierra machine is actually newer and better than the other machine in that video. We are seeing some crazy results. Let me know if you need anything else from us.

[2016-10-20 19:19] sid-github commented on #317
EarlGrey currently uses the screen refresh rate of the simulator to deliver the touches so when FPS falls so does the rate at which touches are injected, with the change that @tirodkar mentioned you must at least see the tests wrapping up faster, please let us know if thats not the case.

[2016-10-20 19:25] LeoNatan commented on #317
I understand that, thanks. I was just wondering why the FPS is lower on the new system. Is this something you have also seen in your testing? Is the simulator subsystem slower on 10.12? If so, I will open a bug report with Apple as well.

[2016-10-26 12:31] drptbl opened #321 "Tests are working on simulators, but crashes instantly while trying to run on real devices."
Hey,

Like in title. I'm able to run tests without issues on simulators (iOS 9 and 10), but while trying to run them on real devices - I'm getting a crash as soon as main application which should be tested is opened on mobile screen.

That's the error I'm getting while trying to run on iPad with iOS 9:
![screen shot 2016-10-26 at 14 19 40](https://cloud.githubusercontent.com/assets/8177587/1972596

[2016-10-26 13:25] khandpur commented on #321
That's because dyld is probably complaining that it cannot find EarlGrey.framework. As per the instructions, please double check the following:
 - Have you added `DYLD_INSERT_LIBRARIES` to the scheme?
 - Is the EarlGrey.framework path under DYLD_INSERT_LIBRARIES valid?
 - Is there a copy on build phase script that is inserting EarlGrey.framework into the .app bundle?

[2016-10-26 14:00] drptbl commented on #321
I've did whole setup again and it looks that I'm still having same issue..
[code]
I've tried fixing it with your suggestions and what I've found in FAQ but nothing helped.

From the other side:
All my built frameworks has *.framework file + *.dSYM file. EarlGrey has no *.dSYM file. Maybe that's the cause?

[2016-10-26 14:03] khandpur commented on #321
`@rpath/EarlGrey.framework/EarlGrey` should be `@executable_path/EarlGrey.framework/EarlGrey` as per this [screenshot](https://github.com/google/EarlGrey/blob/master/docs/images/image07.png)

[2016-10-26 14:07] drptbl commented on #321
`@executable_path/EarlGrey.framework/EarlGrey` is parsed as `@rpath/EarlGrey.framework/EarlGrey` in XCode console. Doesn't ask me why because I have no idea.

![screen shot 2016-10-26 at 16 03 56](https://cloud.githubusercontent.com/assets/8177587/19729147/3d42e6f2-9b96-11e6-95e4-71a3c513fa10.png)

[2016-10-26 14:11] khandpur commented on #321
Well that's very interesting. I've never encountered that issue before.
Is your App linking to EarlGrey.framework by other means (directly or indirectly). You should be able to check this under `Build Phases > Link Binaries With Libraries` of your app target.

[2016-10-26 14:13] drptbl commented on #321
Yes my App is linking to `EarlGrey.framework`.
![screen shot 2016-10-26 at 16 12 40](https://cloud.githubusercontent.com/assets/8177587/19729378/1801cd3a-9b97-11e6-99ee-671163320b7e.png)

[2016-10-26 14:15] khandpur commented on #321
remove that and try again.

[2016-10-26 14:17] drptbl commented on #321
@khandpur

Haha - it works now. I had to remove `EarlGrey.framework` from `Link Binary With Libraries`.

Thanks for help again!

[2016-10-26 14:17] #321 closed

[2016-10-26 14:18] khandpur commented on #321
would be great if you want to add it to our FAQs :)

[2016-10-28 18:59] #292 closed

[2016-10-31 20:42] bootstraponline opened #324 "Use import EarlGrey instead of bridging header for the EarlGrey gem"

[2016-10-31 23:19] sid-github opened #325 "Ruby tests failing"
Ruby tests are failing for the wrong reason example: https://travis-ci.org/google/EarlGrey/jobs/172127054

Full Logs:
Worker information
hostname: worker-jupiter-brain:7d83a34a-c6fe-4596-ac18-58b10e911ec8
version: v2.3.1-52-ga9eb435 https://github.com/travis-ci/worker/tree/a9eb4353f9171a7762f88eeeb57cce31bed8dbb8
instance: 8ec9cd07-eac8-4a83-9510-49152340f692:travis-ci-osx10.11-xcode7.3-1475610688

[2016-11-02 21:43] khandpur opened #331 "AX Exchange error: Error Domain=Accessibility Code=0"
For apps that use MFMailComposerViewController or SFSafariViewController, we're seeing a spam of error messages:
AX Exchange error: Error Domain=Accessibility Code=0 "Remote service does not respond to _accessibilityMachPort" UserInfo={NSLocalizedDescription=Remote service does not respond to _accessibilityMachPort}

and it blocks testing as the test case just hangs.

[2016-11-02 21:44] tirodkar commented on #331
Closing as this is a duplicate of https://github.com/google/EarlGrey/issues/108

[2016-11-02 21:44] #331 closed

[2016-11-04 18:51] khandpur commented on #325
This is fixed now. Ruby tests are green.

[2016-11-04 18:51] #325 closed

[2016-11-04 18:52] khandpur commented on #317
Hi @LeoNatan, could you give it another try? We recently updated the touch injection mechanism in https://github.com/google/EarlGrey/pull/318 and it was part of the 1.5.0 release.

[2016-11-04 18:53] LeoNatan commented on #317
Hey
Will test the new version soon.

Thanks

[2016-11-04 18:57] khandpur commented on #317
I have encountered it before on remote test runs but I was unable to repro them locally.

My guess would be NO but I haven't upgraded to sierra yet (still on el capitan) and running EarlGrey scroll tests on Xcode 8.2 (in el capitan) I didn't experience any slowness in scrolling

[2016-11-04 19:25] tirodkar opened #333 "Get rid of the EarlGrey bridging header and move exclusively to Module imports."

[2016-11-04 19:33] bootstraponline commented on #333
related: https://github.com/google/EarlGrey/issues/324

[2016-11-10 12:18] LeoNatan commented on #317
@tirodkar @sid-github @khandpur Thanks guys, seems to scroll much faster. Closing the issue.

[2016-11-10 12:18] #317 closed

[2016-11-14 02:36] ixizi opened #342 "Interaction cannot continue because the desired element was not found"
I want to search a element of a cell on a tableView.
and got a error:
`Error Domain=com.google.earlgrey.ElementInteractionErrorDomain Code=0 "Interaction cannot continue because the desired element was not found." UserInfo={NSLocalizedDescription=Interaction cannot continue because the desired element was not found.}`
my code:
`
[[EarlGrey selectElementWithMatcher:grey_allOf(grey_text(Name), nil)]

[2016-11-14 03:44] khandpur commented on #342
Is that the complete statement? Normally such statements are chained with `performAction:` or `performAssertion:` call. Something like:

`[[[EarlGrey selectElementWithMatcher:grey_allOf(grey_text(Name), nil)] usingSearchAction:grey_scrollInDirection(kGREYDirectionDown, 50) onElementWithMatcher:grey_accessibilityID(@"WMCCityListView.tableView")] performAction:grey_tap()];
`

[2016-11-14 07:06] ixizi commented on #342
@khandpur  it not works with `Action 'Tap' was not performed because no UI element matching` if there has too many cells on the tableview. but if no many cells and it works.

[2016-11-14 07:10] tirodkar commented on #342
@ixizi How long does the interaction take and how many cells are we talking about? Did increasing the scroll amount help?

We have some scrolling tests in our FunctionalTests project that have 50 rows. You could increase that number and tell us in case there's a failure.

[2016-11-14 07:59] ixizi commented on #342
@tirodkar  about thousands of cells and suspend (not scroll complete) if scroll amount set up 2000 or less.   if I set up a huge number it can scroll complete, but still not found the element and maybe I should adjust the matcher.

[2016-11-14 11:54] tirodkar commented on #342
Do you see any "timed out" info in the error? Scrolling through thousands of cells can take a bit. How about this, try breaking the searching into smaller amounts, first try for cell 100, then 200 and so on?

[2016-11-15 01:27] ixizi commented on #342
@tirodkar I fixed this with this code
`[[[EarlGrey selectElementWithMatcher:grey_text(realName)] usingSearchAction:grey_scrollInDirection(kGREYDirectionDown, 200) onElementWithMatcher:grey_kindOfClass([UITableView class])] performAction:grey_tap()];`

thanks for your help.

[2016-11-15 01:27] #342 closed

[2016-11-16 00:21] khandpur commented on #313
Closing this. Feel free to reopen if you run into this issue again.

[2016-11-16 00:21] #313 closed

[2016-11-16 00:22] #324 closed

[2016-11-16 00:23] khandpur commented on #333
Are there any more changes for this bug?

[2016-11-16 00:24] #333 closed

[2016-11-16 11:58] ankushkushwaha opened #348 "In Xcode 8.1 it is showing "error: make directory //EarlGrey.framework: Permission denied" while using with XCUITests"
I have tried to install the framework from both i.e. Pods and Carthage but getting same error.

Xcode: 8.1
Mac OS: El Capitan 10.11.6
Target: UITests (To implement UI automation for app)
language: Objective C

[2016-11-16 15:52] tirodkar commented on #348
Hey @ankushkushwaha, as is written in the README [here](https://github.com/google/EarlGrey#earlgrey), EarlGrey is currently an XCTest based solution. We're working on providing XCUITest support in the coming quarters. Can you please try after moving the tests to an XCTest target?

[2016-11-16 17:27] ankushkushwaha commented on #348
Oh ok.

[2016-11-16 17:27] #348 closed

[2016-11-17 01:10] bootstraponline opened #349 "Update Podfile Ruby to auto install missing Gem"
See Fastlane's [install_gem_if_needed](https://github.com/fastlane/fastlane/blob/7908e2af585ce859312972bc2bd9e361f4229b86/fastlane/lib/fastlane/fastlane_require.rb#L4)

[code]

This will auto install the EarlGrey gem instead of erroring when the dependency is missing.

[2016-11-29 23:43] Arcank opened #357 "Why EarlGrey doesn't use submodule to get fishhook and OCMock?"
Currently, one needs to run (directly or indirectly) the script setup-earlgrey.sh to download them.
Why can't it be achieved via submodules? It would make setup easier.

[2016-11-30 14:45] tirodkar commented on #357
That's a good point. We could actually add submodules and remove those sections entirely from the setup file.

However, one reason we do it is because on building EarlGrey, we download these dependencies if they're not already present. We could however add `git submodule update --recursive` to the setup step and this would automate this as well.

[2016-11-30 15:30] Arcank commented on #357
Is CocoaPods able to run such command when installing dependencies? That would be awesome from a user point of view to streamline the installation.

[2016-12-02 06:37] samhann opened #358 "Add the ability to ignore activity from certain classes"
I have an analytics SDK that turns itself on by default. Its hard to make it completely idle. Also there are a lot of processes going on in the background.

It would help if there was a regex that said ignore timer activity in these classes.

[2016-12-02 21:36] khandpur commented on #293
Actually I am going to give this a shot this week :)

[2016-12-02 21:42] steipete commented on #293
Will watch your progress! 👌

[2016-12-03 21:08] tirodkar commented on #357
Since we provide a precompiled framework, our CocoaPods flow doesn't require the dependencies to be present. CocoaPods does provide a `post_install` hook that you can use to run any commands / scripts.

A footnote- adding a submodule would be trivial, except for OCHamcrest, where we download a zipped up release and then perform some cleanups before integrating it, such as cleaning the iOS-suffix t

[2016-12-04 02:48] khandpur commented on #358
Hey Samhan, could you clarify a few things:

Are you referring to network activity?

As in NSTimer, cfrunlooptimer or gcd timer?

[2016-12-08 01:30] khandpur commented on #181
More test disabled in #363

[2016-12-09 18:37] bootstraponline opened #364 "React Native support"
[React Native](https://facebook.github.io/react-native/) is growing in popularity as it allows code sharing between Android/iOS/Web. It'd be nice if EarlGrey could support this use case since the output is native views.

[2016-12-12 18:44] wuhao5 opened #365 "Sometimes it fails to dectect the UIWebView is idling"
this seems to only happen on iOS 8.4, iOS 9 and above works fine.

[2016-12-12 18:59] wuhao5 commented on #365
the error message shows that it timed out due to failing to detect if UIWebView is idling.

[code]

[2016-12-12 20:28] tirodkar commented on #349
Fixed in https://github.com/google/EarlGrey/pull/352

[2016-12-12 20:28] #349 closed

[2016-12-12 20:30] tirodkar commented on #296
Closing this for now. @rotemmiz please do tell us if there was any more information that you needed.

[2016-12-12 20:30] #296 closed

[2016-12-14 12:58] rotemmiz commented on #296
Thanks guys, it was helpful.

[2016-12-15 05:26] samhann commented on #358
The analytics library itself is using an NSTimer to poll for something even though it doesn't always send something.

This can happen in various ways.

So a regex saying ... If the invocation is from class X or Y or Z ignore it would be useful.

[2016-12-15 09:38] heemoe opened #368 "crash at untrackState method"
![Imgur](http://i.imgur.com/HmHE0Ta.jpg)
![Imgur](http://i.imgur.com/F7SUa7L.png)
xcode 8.2
earlgrey 1.6

it happened many times and not in the same test.
this issues also in xcode 8.1 and earlgrey1.5.3.
all the tests spend about 3 hours to complete.（this test about 30 minutes.）
but if re-run the tests maybe it will be pass.

[2016-12-15 20:31] tirodkar commented on #368
This seems like EG is waiting for a tracked objected to get untracked. Are there any console logs generated? You should be able to see what EG is waiting on there. It would also be great if you could please give us an idea of what you're testing over here for the error to be seen. Is it the same ViewController? Are there any animations / network requests etc. happening?

[2016-12-15 22:06] bootstraponline commented on #364
I made [a small react-native app](https://github.com/bootstraponline/react_native_automation), added a button with test ids, and then authored an EarlGrey test. It worked!

[code]

[code]

[2016-12-15 22:24] tirodkar commented on #364
That's pretty cool. Were you able to find things that EarlGrey was not able to do by any chance?

[2016-12-15 22:46] bootstraponline commented on #364
I'm about to go on vacation, I'll continue the investigation in January. If I run into any issues, I'll let you know.

I'm very interested to see how the upcoming EarlGrey WebView API works with react native webviews.

[2016-12-16 01:58] ixizi commented on #368
there is another call stack.
![Imgur](http://i.imgur.com/e0rwbur.png)

it looks like this controller is dead when it is being requested.
but there is no issue running `xcodebuild test` command under the terminal .

[2016-12-16 21:20] sid-github commented on #358
Hey Samhan you could try adjusting GREYConfiguration value for
kGREYConfigKeyNSTimerMaxTrackableInterval as a possible workaround.

see
https://github.com/google/EarlGrey/blob/d9eb1bc9b25569ec2384a217c008a3cc68ea2c1f/EarlGrey/Common/GREYConfiguration.h#L71

On Wed, Dec 14, 2016 at 9:26 PM, Samhan Salahuddin <notifications@github.com

--
Siddartha (Sid) | Software Engineer, Tools and Infrastructure

[2016-12-21 23:53] RichardGuion opened #372 "Special key identifier for delete does not work in Swift"
In Swift if you do a type text call with a backspace/delete key identifier in the string:

`grey_typeText("A\\bBC")`

it does not work. *grey_findKeyForCharacter* function in *GREYKeyboard.m* and it did not seem to recognize it correctly

Note: you cannot do *grey_typeText("A\bBC")* in Swift as it requires a double escape of the backslash.

[2016-12-22 02:08] #372 closed

[2016-12-28 15:08] mattdeckard opened #374 "Pod copies incompatible EarlGrey.swift"
Following the instructions in https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md for CocoaPods, pod will install the 1.5.3 version of EarlGrey. Adding the `{swift: true}` option to `configure_for_earlgrey`, it seems to copy the `master` version of `EarlGrey.swift` which references a constant that did not exist in 1.5.3 (kGREYFailureHandlerKey) leading to build errors.

[2016-12-28 19:08] tirodkar commented on #374
The `EarlGrey.swift` file that's copied into your project should come from the EarlGrey gem, for which you can specify the version. Is there another way by which you're copying EarlGrey.swift over?

[2016-12-28 19:10] mattdeckard commented on #374
Oh that probably explains it. I just did `sudo gem install earlgrey` without specifying version.

[2016-12-30 11:59] #108 closed

[2016-12-30 12:03] khandpur commented on #108
Fixed by commit: https://github.com/google/EarlGrey/commit/9744dfe35334393c19a01b66610abe754eafc3ab

[2017-01-03 06:20] tirodkar commented on #374
Closing this. @mattdeckard, please re-open this if the issue persists.

[2017-01-03 06:20] #374 closed

[2017-01-03 20:16] bootstraponline commented on #364
I updated my [react native example](https://github.com/bootstraponline/react_native_automation). [testImage](https://github.com/bootstraponline/react_native_automation/blob/8e81edfde17dabfbc2876252b7b54220e4e89e53/button/ios/buttonTests/buttonTestEarlGrey.swift#L10) is failing to find an element by accessibility label.

React native always generates `AX=N` elements even though the `AX.id` and `AX.

[2017-01-03 20:46] bootstraponline commented on #364
I'll submit a PR with a FAQ entry. The fix to match on label is to set the react native `accessibility: true` property.

[2017-01-03 23:53] bootstraponline opened #380 "Auto skip doc only PRs"
It'd be nice if the build system was smart enough to auto skip doc only pull requests. Facebook has solved this in React.

- https://github.com/facebook/react/issues/1768
- https://github.com/facebook/react/blob/41588058d4724e681969bfe89e678850cffc4b70/.travis.yml#L14

[2017-01-04 01:16] bootstraponline opened #381 "Inspector"
It'd be nice to have an Inspector for EarlGrey. Similar to uiautomatorviewer for Android or [appium's inspector](https://github.com/appium/appium-desktop).

Key features

- UI tree that displays element info
- Screenshot that represents current app state

[2017-01-04 05:46] #364 closed

[2017-01-05 03:41] #380 closed

[2017-01-10 19:20] bootstraponline opened #390 "UI flashes on grey_tap()"
grey_tap will cause excessive UI flashing.

[2017-01-10 19:45] sid-github commented on #390
Is it just tap, or does swipe and scroll also cause this?

[2017-01-10 19:46] bootstraponline commented on #390
I have no idea. I only tested with tap. Apparently @khandpur has a fix that's being worked on.

[2017-01-13 03:27] #140 closed

[2017-01-13 03:28] tirodkar commented on #161
I believe this is fixed. Could we please close this?

[2017-01-13 03:29] tirodkar commented on #50
Does this still need to be open?

[2017-01-13 03:55] bootstraponline commented on #50
Yes, Travis is still failing.

https://travis-ci.org/google/EarlGrey

[2017-01-13 18:39] phsong-google opened #392 "Update error logging and reporting format"
The current error logging in EarlGrey is organized as:

Reason: ...
Bundle ID:...
Stack trace:...
Exception Name:...
Reason:... (AGAIN!)
Complete Error:...
Screenshots:...
Window hierarchy:...

The problem with the outputs are:
1. The details of the element's description are within the reason statement, making it very hard to decipher. For example, an element-not-match reason looks like:

[code]

[2017-01-13 21:02] bootstraponline opened #393 "Accessibility checks"
The [W3C](https://www.w3.org/TR/mobile-accessibility-mapping/) defines mobile accessibility guidelines. Google provides an [Accessibility test framework for Android](https://github.com/google/Accessibility-Test-Framework-for-Android) that integrates with Espresso.

When Espresso loads a view, the following 16 accessibility checks are run. It'd be great to have similar support in EarlGrey.

**[View

[2017-01-18 20:04] bradmcmanus commented on #160
I would love to see this. I am using EarlGrey to run relatively simple UI tests, primarily to take screenshots for viewing on different devices. Imagine if EarlGrey had HTML report features like [Spoon on Android](http://square.github.io/spoon/).

[2017-01-19 14:24] bootstraponline opened #395 "Appium support"
If EarlGrey supported the [mobile JSON wire protocol](https://github.com/SeleniumHQ/mobile-spec) then appium could be used with EarlGrey. See [facebook/WebDriverAgent](https://github.com/facebook/WebDriverAgent) for an example.

The primary benefit is enabling tests to be written in any language, instead of having to use Swift/ObjC.

[2017-01-19 22:42] tirodkar commented on #395
To be clear, this feature would require us to have an abstraction layer on top of EarlGrey that supports the JSON protocol? So you would write tests that could be converted into the JSON protocol that would then be converted into EarlGrey code?

[2017-01-19 23:53] bootstraponline commented on #395
I recommend checking out the WDA ObjectiveC code for a very clear idea of what this looks like. The request is to include a HTTP server in EarlGrey that implements the WebDriver end points. Tests would be written using the existing WebDriver bindings.

Tests would use the WebDriver protocol to talk to the EarlGrey server. There's no conversion of code, it's just a mapping of a protocol to commands

[2017-01-20 03:25] wuhao5 commented on #395
We are aware of this and will be in our roadmap, but we just don't have enough justifications yet to prioritize this at this point. Stay tuned!

[2017-01-23 15:27] haitham-reda opened #410 "`tap()` Action fails although target item exists"
i keep getting `Reason: Action 'Tap' failed` for tapping a `UIButton` subclass although target `UIButton` with the correct `accessibilityId` / `accessibilityLabel` exists and logged in window hierarchy dump after failure.

Runs on iPhone5 simulator, iOS 10.2 , EarlGrey V1.3.0

[2017-01-23 21:20] khandpur commented on #410
hi @haitham-reda Can you provide the full error logs (censoring sensitive data) so we can analyze it?

[2017-01-23 21:24] tirodkar commented on #410
Also, any reason why you're on EarlGrey 1.3.0?

[2017-01-26 07:33] #392 closed

[2017-01-26 07:55] khandpur commented on #357
any updates on this?

[2017-01-26 07:56] khandpur commented on #368
Hi @heemoe, is this still an issue with latest release (1.7.0) of EarlGrey?

[2017-01-26 08:16] heemoe commented on #368
@khandpur After a few days I'll try this new version

[2017-01-27 12:29] haitham-reda commented on #410
hi @khandpur  , can i forward by Email instead please ?

[2017-01-27 12:35] khandpur commented on #410
yes, i've sent you mine @ haitham.reda@gmail.com

[2017-01-30 19:29] ArielSD commented on #410
Having the same issue in 1.4.0

[2017-01-30 21:13] tirodkar commented on #410
@ArielSD, could you possibly send us some more info such as a log trace or so??

[2017-01-31 20:04] bootstraponline commented on #393
https://chromium.googlesource.com/chromium/src.git/+/master/ios/chrome/test/earl_grey/accessibility_util.mm has some interesting accessibility helpers.

[2017-02-01 15:55] ArielSD commented on #410
@tirodkar It doesn't happen every time, next time it does, I'll post!

[2017-02-01 20:07] Nebla commented on #410
I'm having a similar issue, that seems to disappear if I run the test with the animations slowed down in the simulator, with regular animations it's failing with this error:

Exception Name: ActionFailedException
Exception Reason: An action failed. Please refer to the error trace below.
Exception with Action: {
  "Action Name" : "Tap",
  "Element Matcher" : "((respondsToSelector(isAccessibilityEle

[2017-02-01 20:28] tirodkar commented on #410
@Nebla @haitham-reda @ArielSD this seems extremely interesting, especially since it seems to be an Xcode 8.2 issue. Could you possibly repro this isssue with our FunctionalTests / Contrib / Demo projects please so that we could have a better look?

[2017-02-02 16:50] haitham-reda commented on #410
@tirodkar will give it a shot with Xcode 8.3B tomorrow and tell you if any difference.

[2017-02-03 09:42] heemoe commented on #368
Fixed, thank for your help.

[2017-02-03 09:42] #368 closed

[2017-02-03 22:04] jblack10101 opened #419 "GREYInteraction atIndex doesn't throw an exception if index is larger than number of matched elements"
The GREYInteraction atIndex documentation says, "In case of the index being over the number of matched elements, it throws an exception."

But the Swift declaration of atIndex doesn't indicate that it is possible to throw an exception, and it in fact doesn't throw an exception.

`public func atIndex(index: UInt) -> Self!`

From my testing, atIndex will always return a GREYInteraction, so how is it

[2017-02-03 22:10] tirodkar commented on #419
Quick question - could you show us how you're using `atIndex` in your test?`selectElementWithMatcher` and `atIndex` will not do anything until an interaction is performed on the GREYInteraction object i.e. by doing `performAction`, `assert` etc.

[2017-02-03 22:17] jblack10101 commented on #419
So, I'm essentially just trying to determine the number of elements of a certain type that are currently displayed.  The latest version of my method (which doesn't work) is:

[code]

[2017-02-03 22:38] tirodkar commented on #419
That seems like a bug in EarlGrey. Also, I notice you're using atIndex to get the count of elements. This seems to be a behavior many devs are using.

We're planning to cut a release by today, this will surely be added in the next one. Thanks for reporting this.

[2017-02-04 00:49] mbaxley opened #422 "longpress on UITextField gets stuck with app state tracker not becoming idle on 9.3"
We saw this happen a lot in Chrome, and were able to reproduce it in the EarlGrey FunctionalTest app.

When long pressing a UITextField, the next step fails about every time on device and less than one third of the time on simulator. The failure is because the AppStateTracker doesn't become idle. This was all on iOS 9.3. I don't know if it is iOS 9.3 only, or just less common on 10.0+.

I seemingl

[2017-02-04 00:49] mbaxley commented on #422
I created a PR with the test case.
https://github.com/google/EarlGrey/pull/423

[2017-02-04 01:42] sid-github opened #424 "Typing with upper and lower case chars fails on iPad Pro"
Typing with upper and lower case chars fails on iPad Pro. To repro this run
testUpperCaseLettersTyping from them test app
with the line:
`NSString *string = @"VERYLONGTEXTWITHMANYLETTERS";`
modified to:
`NSString *string = @"VERYlongTEXT withDifferentCases";`

On an iPad Pro 12 inch simulator

Mixing the case causes issues.

[2017-02-04 01:47] sid-github commented on #424
This seems to be a duplicate of this issue: https://github.com/google/EarlGrey/issues/239, closing it in favor of the original bug.

[2017-02-04 01:48] sid-github commented on #424
This seems to be a duplicate of this issue: https://github.com/google/EarlGrey/issues/239, closing it in favor of the original bug.

[2017-02-04 01:48] #424 closed

[2017-02-04 03:16] tirodkar opened #427 "CI still runs on cheatsheet changes."

[2017-02-06 15:09] bootstraponline commented on #427
The jobs are still scheduled however it looks like they no-op which is the expected behavior.

- https://travis-ci.org/google/EarlGrey/builds/198244519

[2017-02-06 16:04] ArielSD commented on #239
I'm still seeing these errors with drainUntilIdle.

[2017-02-06 18:36] tirodkar commented on #427
+1. Closing this.

[2017-02-06 18:36] #427 closed

[2017-02-08 16:47] ArielSD commented on #55
@tirodkar Which private UIAutomation framework?

[2017-02-10 04:02] tirodkar commented on #55
@ArielSD Yes the same. It is still available in Xcode. You'd need to import the headers as is shown in the comment here.

https://github.com/google/EarlGrey/issues/55#issuecomment-200630012

I'd prefer waiting on this feature though, since we plan to have it as part of EarlGrey's next major release version, which should support XCUITest.

[2017-02-13 15:56] Nebla commented on #410
@tirodkar sorry for the delay, here are the results for functional tests (I renamed from .log to .txt because github does not support .log) using Xcode Version 8.2.1 (8C1002)
[Session-EarlGreyFunctionalTests-2017-02-13_110829-UfTHHM.txt](https://github.com/google/EarlGrey/files/771358/Session-EarlGreyFunctionalTests-2017-02-13_110829-UfTHHM.txt)

I had some problems with the other projects, I'll t

[2017-02-13 16:56] tirodkar commented on #410
@Nebla what did you modify the animation speed to? This seems to affect almost every other test in our FunctionalTests which shouldn't happen normally.

[2017-02-13 17:20] Nebla commented on #410
Mmm I didn't modify it, I checked out the project and run it as it was on the repo.

[2017-02-13 18:23] khandpur commented on #410
@tirodkar From the logs it looks like a keyboard flake. Will https://github.com/google/EarlGrey/pull/327 address it?

[2017-02-13 18:43] tirodkar commented on #410
These all do indeed look like flakes that https://github.com/google/EarlGrey/pull/327 should fix. Unfortunately, I've been unable to repro them on local runs. If I could get what animation value was modified, then I'd be able to debug them much better.

[2017-02-13 18:55] khandpur commented on #410
I think @Nebla means to say that he didn't modify animation value at all. It's regular speed (1.0), if you down animations on the simulator (using Command + T), the tests start passing. What's concerning is that 48 tests are failing whereas on our travis just a [few 2-3](https://travis-ci.org/google/EarlGrey/jobs/199035583) flake out time-to-time.

[2017-02-16 00:04] tirodkar commented on #419
@jblack10101 I created this test for our main table view -

[code]

A `GREYInteraction` is just showing an `intent to perform an interaction` but does not perform the interaction itself. You need to call the action for it to actually go and search the hierarchy and find if an element exists. Simply creating a GREYInteraction doesn't do anything processing. This is done so that you can have the sam

[2017-02-16 01:15] tirodkar commented on #419
Fixes https://github.com/google/EarlGrey/issues/419

[2017-02-17 01:09] tirodkar commented on #95
This seems to be fixed by the above PR. @bootstraponline please close this or update it in case this is still present.

[2017-02-17 01:13] bootstraponline commented on #95
[code]

I still have to use ^ throughout the code to get accurate file & line numbers. If that's the best we can do for Swift, then this issue is safe to close.

[2017-02-17 01:28] tirodkar commented on #270
Fixed in https://github.com/google/EarlGrey/pull/431

[2017-02-17 01:28] #270 closed

[2017-02-17 05:38] heemoe opened #432 "print error failed, Unhandled output type: GREYError"
my code:
[code]

            i tried print error.description that didn't work.

[2017-02-17 05:39] tirodkar commented on #432
What version of EarlGrey are you on? This was fixed in https://github.com/google/EarlGrey/pull/429

[2017-02-17 05:53] heemoe commented on #432
@tirodkar thanks. I am using EarlGrey 1.7.1 with xcode8.2.1. manage framework via cocoapod1.2.

[2017-02-17 05:55] tirodkar commented on #432
Just realized that https://github.com/google/EarlGrey/pull/429 hasn't been added to a release yet. It'll be in the next CocoaPods release coming tomorrow / early next weekend at most. If you want, you can test it by generating `EarlGrey.framework` by running the EarlGrey target in `EarlGrey.xcodeproj` and then replacing the CocoaPods `EarlGrey.framework` folder with the generated one.

[2017-02-17 06:00] heemoe commented on #432
@tirodkar  ok, thank you!  i'd like to waiting the next release.

[2017-02-17 06:00] #432 closed

[2017-02-17 09:49] Zhumeng223 opened #433 "Why can I only write a use case for each interface in my project? Just write the second will be error"
Why can I only write a use case for each interface in my project? Just write the second will be error

[2017-02-17 10:50] tirodkar commented on #433
@Zhumeng223, could you illustrate with an example what is the issue that you're facing? It would be great if we could repro the issue from our side.

[2017-02-20 03:29] tirodkar commented on #433
@Zhumeng223 feel free to re-open this along with the repro steps. Thanks!

[2017-02-20 03:29] #433 closed

[2017-02-20 03:36] heemoe commented on #433
@Zhumeng223  你用中文具体描述下问题吧。测试方法名必须以test开头哦。

[2017-02-21 04:20] heemoe opened #436 "Waiting for UIView's draw/layout pass to complete"
a lots of logs here:
[code]

[2017-02-21 21:30] sid-github commented on #436
heemoe, do you see any continuous animations happening when the test fails?

[2017-02-22 00:57] heemoe commented on #436
@sid-github  the test did't fail..... It's just dump these logs. I never see these before.

[2017-02-22 03:26] vki opened #438 "if UI Element is disable,how waiting for the element is enable then tap it?"
the test case
the button1 defualt is disable, wait some resouce download finished;
the button1 set enable when the resouce download finished.

so
how writer  this UI test case

[2017-02-22 03:36] tirodkar commented on #438
What type of resource are you planning to download? If it is a network request, then EarlGrey automatically tracks with it. If you wish to enable the button, then you'd need to write a `GREYElementMatcherBlock`.

[2017-02-22 04:22] khandpur commented on #438
IIUC, the button should be enabled after resource is downloaded so I don't think a custom GREYElementMatcher block is required here at all.

@vki EarlGrey synchronizes with network activity so it should implicitly wait for the download to finish and in the next runloop pass (after download finishes) schedule the test interaction. You shouldn't have to add any polling or sleep methods to wait for t

[2017-02-22 04:29] khandpur commented on #436
After a test finishes, there may be some sort of continuous animation (like a spinner) that's animating. EarlGrey tries to clear up it's state tracking at tear down and notices that there's an ongoing animation. It waits up to 5 seconds for it to stop and then decides to forcibly set the app to idle state and logs a message (like above) indicating the reason for the app to be in busy state. The on

[2017-02-22 08:36] vki commented on #438
@khandpur but use performAction:grey_tap() is action Tap failed

[2017-02-22 08:43] khandpur commented on #438
Do you have some logs and explain what you see when the test runs? Does it tap too early?

[2017-02-22 09:41] vki commented on #438
@khandpur tks try clean ,build , test;   is work.

[2017-02-22 09:41] #438 closed

[2017-02-22 21:58] tirodkar commented on #419
Closing this for now. @jblack10101 do reopen and tell us if anything else is required.

[2017-02-22 21:58] #419 closed

[2017-02-24 14:45] Arcank opened #439 "Is it possible to simulate key presses while the soft keyboard is hidden?"
GREYKeyboard doesn't seem to support it:
https://github.com/google/EarlGrey/blob/master/EarlGrey/Core/GREYKeyboard.h#L26

I am trying to write a test that simulates a press on an external keyboard attached to the device. (In my case, I need to simulate a press on the Tab key.)

[2017-02-24 15:07] Arcank commented on #439
Would it be possible to do something similar to what is done with [IOHIDEventCreateDigitizerFingerEvent](https://github.com/google/EarlGrey/blob/c5c89d810a8e76547ed0506e85c1a80f3a10bc48/EarlGrey/Event/GREYTouchInjector.m#L241) but with [IOHIDEventCreateKeyboardEvent](https://github.com/WebKit/webkit/blob/master/Tools/WebKitTestRunner/ios/IOKitSPI.h#L137)?

[2017-02-24 21:05] bootstraponline commented on #381
Another benefit of inspector:

- Generate gesture code based on user interactions with the simulator

[2017-02-24 21:17] khandpur commented on #381
We have this planned for EarlGrey+XCUITest :) but I'd love if someone wants to contribute this to EarlGrey contribs until EarlGrey+XCUITest is ready.

[2017-02-24 21:20] khandpur commented on #439
That may be possible. Do you think you can take a stab at it?

Also, just a heads up that I am making some improvements to EarlGrey's touch injector code to make it more robust. I should have a PR ready for review by next week.

[2017-02-24 21:48] Arcank commented on #439
It's not high priority for me and don't know anything around IOKit. Would it look like somewhat like
[IOHIDEventCreateDigitizerFingerEvent](https://github.com/google/EarlGrey/blob/c5c89d810a8e76547ed0506e85c1a80f3a10bc48/EarlGrey/Event/GREYTouchInjector.m#L241)?

[2017-02-27 17:56] khandpur commented on #439
Yup, exactly.

[2017-03-01 02:18] tirodkar commented on #95
@bootstraponline sorry, but how does this affect your final API? Do you have to add `grey_invokedFromFile` to each file that you add? Are you still able to do `EarlGrey.select(...)` ?

[2017-03-01 02:22] bootstraponline commented on #95
It looks like this using the page object pattern.

[code]

[2017-03-06 02:18] khandpur opened #442 "Carthage install isn't doing the complete setup"
An EarlGrey user ran into a problem with Carthage installation. They had to follow steps outlined here to fix their issue:
https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md#final-test-configuration-

It seems like the gem isn't automating everything outlined in the Final Test Configuration.

The specific problem was that they weren't able to run tests on devices because they k

[2017-03-06 03:23] tirodkar commented on #442
Did doing `earlgrey install -T TestTargetName` solve the issue?

[2017-03-06 08:12] jeff77731 opened #443 "How can I get the element which is on the window"
I have a view added by window

self.window.addsubView(view)

And there is a button in the view

I used this code to find the button

EarlGrey.select(elementWithMatcher: grey_accessibilityID("BTN_ID")).perform(grey_tap())

But there is no use

How can I get the button?

[2017-03-06 08:15] khandpur commented on #443
Interesting...
Does your custom window appear in the hierarchy that's printed on failure and can you provide us with the full logs (excluding sensitive information)?

[2017-03-06 09:33] jeff77731 commented on #443
Hi

attachment is my log file

I add a viewController's view in the root window in the appDelegate

window.addSubView(viewController.view)

and there is a button in the view

But I can't get the button from "grey_accessibilityID("ACCID_END_VOIP_BTN")"

B.R.
Jeff

2017-03-06 16:15 GMT+08:00 Sundeep <notifications@github.com>:

[2017-03-06 10:13] tirodkar commented on #443
@jeff77731 I don't think the email attachment is sent for a Github comment. Feel free to send it to us directly or drop it as a file here.

[2017-03-06 16:49] AVandelay commented on #442
The command I used was `earlgrey install --carthage --swift-version=2.3 --scheme=MyApp --target=MyAppUITests`. I was able to run UI tests on the simulator, but wasn't able to until Step 3 in the Final Test Configuration for the manual install process was done

[2017-03-07 02:00] jeff77731 commented on #443
Hi

Here is the log file

2017-03-06 18:13 GMT+08:00 Aditya Atul Tirodkar <notifications@github.com>:

[2017-03-07 02:32] jeff77731 commented on #443
Hi

Here is the log file

[log.txt](https://github.com/google/EarlGrey/files/823191/log.txt)

[2017-03-07 04:26] jeff77731 commented on #443
I found that I have an animation animate once per 0.5 seconds

So I got these error message

I can't find my element because the IdlingResources are busy

Complete Error: Error Domain=com.google.earlgrey.ElementInteractionErrorDomain Code=3 "Failed to perform action within 30 seconds." UserInfo={NSLocalizedDescription=Failed to perform action within 30 seconds., NSUnderlyingError=0x60800064a9e0 {E

[2017-03-09 14:56] ashisht99x commented on #55
### @bootstraponline I tried integrating WebDriverAgentLib into my project. But control never returns from 2nd line of code.
EarlGrey.select(elementWithMatcher:grey_accessibilityID("continue_as_guest")).perform(grey_tap())
let alert = FBAlert(application: XCUIApplication.init(privateWithPath: nil,bundleID: "com.myapp.dev"))
if alert.isPresent() {
       print("**** alert present ****")
 } else {

[2017-03-09 15:09] bootstraponline commented on #55
WebDriverAgentLib has changed quite a bit since last year. It wouldn't surprise me if this no longer works. Each Xcode release seems to break things. I recommend posting an issue [to their tracker](https://github.com/facebook/WebDriverAgent) and asking if this is a supported use case or not.

`UIAutomation.framework` should still work. And as @tirodkar mentioned, EG 2.0 should support this use cas

[2017-03-09 19:43] tirodkar commented on #55
Also, this might seem a little hacky but in iOS 10+, you need to have "Privacy - Locations Usage Description" in your Info Plist or so added to be able to throw up System Dialogs. You could remove these keys for your test rig and see what the result is.

[2017-03-13 20:02] tirodkar opened #446 "Add EarlGreyExample Carthage Setup to Travis."
Related to https://github.com/google/EarlGrey/pull/445

[2017-03-13 21:23] #442 closed

[2017-03-14 20:47] Eruhenon opened #447 "Run EarlGrey on AWS"
Hey,

we're trying to run EarlGrey on AWS device farm. It fails with various errors. Since I can't find any information about anyone succeeding to run this (except for https://github.com/google/EarlGrey/issues/154) I thought I'd ask here for advice :)

If anyone could guide me in the right direction, it would be very appreciated!

[2017-03-14 20:49] tirodkar commented on #447
What form errors are you seeing @Eruhenon? Are you using a pre-built IPA to test or using one CocoaPods / Carthage etc?

[2017-03-14 23:30] khandpur commented on #447
Adding @bootstraponline just in case he has something to share.

[2017-03-14 23:37] bootstraponline commented on #447
We're also looking into running our [EarlGrey tests](https://github.com/instructure/instructure-ios) on AWS. Step one was making the tests run on a local physical device. I'll comment once we have some tests running successfully on AWS.

[2017-03-15 15:42] mbaxley opened #448 "Clarification on the contract for actionForSwipeFastInDirection(GREYDirection)direction;"
The API comment says it "swipes through the whole view." Does this mean that it should be guaranteed to reach the edge of the view?

We have some tests that are flaky, because when we call grey_swipeFastInDirection(kGREYDirectionUp), sometimes it doesn't scroll all the way to the bottom edge (and a link isn't visible).

We are performing this in a webview's scrollview, and as the swipe is occurrin

[2017-03-15 16:55] bootstraponline commented on #447
Amazon commented:

- https://forums.aws.amazon.com/thread.jspa?messageID=772838

I'm not looking into AWS anymore so the Amazon forums are probably the best place for support.

[2017-03-15 17:43] tirodkar commented on #448
@sid-github probably has more details on this. The Swipe is supposed to reach the opposite edge. Is this issue only seen in web views?

[2017-03-15 18:19] mbaxley commented on #448
I haven't tested it on a non-webview. But if it should reach the opposite edge, I can debug a little bit more to see if I can repro in the EG test app.

[2017-03-15 18:50] sid-github commented on #448
Mike, grey_swipeFastInDirection does not scroll to the edge you must
use grey_scrollToContentEdge to do that.

On Wed, Mar 15, 2017 at 11:19 AM, mbaxley <notifications@github.com> wrote:

--
Siddartha (Sid) | Software Engineer, Tools and Infrastructure | 972-965-5567

[2017-03-15 18:56] khandpur commented on #448
Could we change the documentation then?

It confused @mbaxley and may throw-off others

[2017-03-15 19:01] sid-github commented on #448
SGTM

[2017-03-15 22:52] tirodkar opened #449 "Use __Nullable and __Nonnull annotations instead of commenting on nullability."
Helps with Swift readability.

[2017-03-16 22:18] mbaxley commented on #448
Thanks! grey_scrollToContentEdge works, but it is very slow. We had used grey_swipeFastInDirection because it seemed to make it to the edge in what we thought was all cases, but thanks for clarifying that it isn't the intent (and not what we see in practice). Is there any ways to make scrollToContentEdge faster? Or some other API I missed?

[2017-03-16 23:17] sid-github commented on #448
If you want to get to the edge faster I suggest implementing a loop:
[code]

this should get you to the edge sooner, one downside is it may cause rubberband scroll when the scrollview is almost at the bottom (say you have 10 points of scroll left but the swipe action triggers 50points of scroll) that, depending on the app may trigger a refresh of the scrollview items.

[2017-03-17 01:17] bootstraponline opened #454 "Replace carthage copy-frameworks with regular copy script"
Carthage's copy-frameworks doesn't actually copy the frameworks. Instead we can reuse the existing cocoapod's copy frameworks script.

<img width="745" alt="carthage_copy_files_fail" src="https://cloud.githubusercontent.com/assets/1173057/24024973/ca338bbe-0a8d-11e7-93d6-910cc5d78742.png">

https://github.com/google/EarlGrey/blob/master/docs/install-and-run.md#final-test-configuration-

[2017-03-17 04:21] joemantey opened #456 "Capturing the text value of an element"
This function in the FAQ for getting the string value of aN element no longer works in Swift 3. When trying to use the method, you encounter to small issues before hitting the real one
1. `inout`'s are not composed in the example the way they are in the example in Swift 3
2. The method itself has changed in EarlGrey (small change, the compiler takes care of that for you)
3. After the fixing those

[2017-03-17 06:51] tirodkar commented on #456
You're right, with the new syntax, we won't be able to pass in the inout parameter. We could change this to either an Objective-C method or find another way to capture the variable. Thanks for bringing this to our attention.

[2017-03-17 19:28] #454 closed

[2017-03-17 21:23] tirodkar commented on #456
Unfortunately, it seems like you can't send a value type like a String as a param to the GREYActionBlock and modify it. The user would have to add a sample class object or so to do so.

[2017-03-17 21:30] bootstraponline commented on #456
I thought I already fixed this? Here's the code we've been using:

[code]

[2017-03-17 21:34] khandpur commented on #456
thats exactly what we did a few minutes ago to make it work. should be in faq

[2017-03-17 21:39] bootstraponline commented on #456
I fixed this last year and updated the FAQ. What happened?

- https://github.com/google/EarlGrey/pull/139

[2017-03-17 21:41] bootstraponline commented on #456
oh, maybe it was never merged. new PR incoming.

[2017-03-17 21:46] khandpur commented on #456
Ah you're right...I think this was a bad merge conflict on our end :(
sorry abt that.

[2017-03-17 22:06] #456 closed

[2017-03-17 23:58] #274 closed

[2017-03-20 15:03] mbaxley commented on #448
Yes, we use a combination of the two methods to scroll more quickly and guarantee we reach the edge. I just wanted to see if there was another way.

Regarding the documentation, I was debugging tests by someone else, so there was more than one person that mis-read "swipes through the whole view" as reaching the edge with actionForSwipeFastInDirection.

I'll leave this open in case you want this to

[2017-03-21 20:18] wuhao5 opened #466 "Improve earlgrey gem to set up the project easily"
Proposing the following improvements in the earlgrey gem:

1. remove post_install, earlgrey.pod would automatically set up the target:
[code]
This will add the copy script and modify the schemes for the target "ExampleTests" only when it is a unit test bundle.

2. config xcscheme files per target
It would apply required changes to all the schemes that include the given target; currently, it target

[2017-03-21 20:31] tirodkar commented on #466
How would the `the app target can contain the test target`? As in we have a target that consolidates multiple targets? We should make it clear not to have that.

[2017-03-23 18:50] sid-github commented on #448
👍 , also updated [the docs](http://google.github.io/EarlGrey/Classes/GREYActions.html#/c:objc(cs)GREYActions(cm)actionForSwipeFastInDirection:), please reopen if you have any issues.

[2017-03-23 18:50] #448 closed

[2017-03-27 19:13] yaphatak opened #471 "EarlGrey runs slower compared to KIF/XCUITEST"
`Mac OS : 10.11.6
iOS : 10.2
EarlGrey: 1.6`

If I change setting to `(GREYConfiguration.sharedInstance() as AnyObject).setValue(false, forConfigKey: kGREYConfigKeySynchronizationEnabled)`, Its much faster

[2017-03-27 20:39] bootstraponline commented on #211
some notes since I've started looking into this:

Espresso serializes HTML elements to a JSON [ElementReference](
https://github.com/bootstraponline/platform_frameworks_testing/blob/android-support-test/espresso/web/src/main/java/android/support/test/espresso/web/model/ElementReference.java)

That looks like:

which is [standard WebDriver](https://github.com/SeleniumHQ/selenium/blob/0fd840096fec20

[2017-03-29 18:12] khandpur opened #472 "Add dismissKeyboard API to EarlGrey"
`[EarlGrey dismissKeyboardWithError:error]`

If there's no keyboard shown, error should be populated appropriately. The method should use thread executor's executeSync to wait for App to idle before calling `resignFirstResponder`. The actual code to dismiss the keyboard (in swift):
[code]

[2017-03-29 19:29] bootstraponline commented on #211
Here's the code for my port of Espresso's WebView logic to Swift & EarlGrey.

- https://github.com/instructure/instructure-ios/commit/d0dcc75aee6799ea7bddcd6ae492aa5ffe79ac57

<img width="595" alt="css_selector_victory" src="https://cloud.githubusercontent.com/assets/1173057/24472615/518b4bf0-1494-11e7-8379-9c87f9e084b2.png">

Finding by CSS selector is working. It's very much a proof of concept w

[2017-04-01 00:28] #466 closed

[2017-04-01 03:05] #472 closed

[2017-04-01 03:05] khandpur commented on #471
@yaphatak  What scenarios?

[2017-04-03 20:27] bootstraponline commented on #211
I pushed an update which adds element reference support & webKeys (typing text).

- https://github.com/instructure/instructure-ios/commit/25f82f0bb1e2f9f493a76e5406c1fb6d4d9f0d58

[2017-04-03 23:15] yaphatak commented on #471
I just created for @tirodkar . Issue is actually raised by ahmedeid from Slack.

[2017-04-04 03:03] RichardGuion opened #479 "matcherForEnabledElement is treating nil elements as enabled"
When using grey_enabled in a test I noticed that any text I used did not assert

[code]

This is a case where "bar" did not exist at all and I was expecting an assertion thrown.

The answer is here:
https://github.com/google/EarlGrey/blob/b0ed5e03fb2b5a5ba00843811c9e87baa547bf6b/EarlGrey/Matcher/GREYMatchers.m#L476

The default value of BOOL matched should be NO instead of YES.

[2017-04-04 03:21] khandpur commented on #479
Note that the returned matcher should also contain a `isKindOfClass` matcher for UIControl class types:
[code]

[2017-04-04 03:22] khandpur commented on #479
@RichardGuion would you like to take a stab at it?

[2017-04-06 21:59] tirodkar commented on #471
++ https://github.com/AhmedEid

[2017-04-08 03:29] npark-mozilla commented on #436
I'm seeing this on 1.9.0 after upgrading it from 1.7.0.  This happens when I need to tap on a button of a modal dialog, which was created by a long tap.  In my case, my test fails with following exception:

Exception Name: AssertionFailedException
Exception Reason: Timed out while waiting to perform action.
Exception with Action: {
  "Action Name" : "Tap",
  "Element Matcher" : "((kindOfClass('UIL

[2017-04-08 03:57] npark-mozilla commented on #436
Looks like this depends on the number of EarlGrey gestures that were called prior to the exception.  If a very few or no EarlGrey gestures were called, then the test does not fail.  (But only gestures I've been using are grey_tap()..)

[2017-04-08 04:01] khandpur commented on #436
@npark-mozilla Is there any more information for the states that the tracker is reporting?
So far you've got:

- Waiting for gesture recognizer to detect or fail an ongoing gesture.
- Waiting for UIView's draw/layout pass to complete. A draw/layout pass normally completes in the next runloop drain.

[2017-04-08 04:13] npark-mozilla commented on #436
I do get a lot of [LayoutConstraints] Unable to simultaneously satisfy constraints. in the test log. I attached the test log here.

[test.txt](https://github.com/google/EarlGrey/files/907219/test.txt)

[2017-04-09 17:05] npark-mozilla commented on #436
Update on this: it turns out wiping the simulator data and restarting it fixes the problem for a while, and after doing a number of step-through debugging on the simulator, the problem reappears Using XCode 8.3.1 now

[2017-04-10 07:44] strongxu commented on #410
I have the same problem. seems If the keyboard is not English keyboard, It will fail. Also if the text is not English, like Chinese, It will also fail.

So can I change keyboard type by EarlGrey?

[2017-04-10 07:47] khandpur commented on #436
Still investigating cause of gesture recognizer state getting stuck but I am seeing a lot of:
[code]

You may have the same library linked to your test and app under test targets.

[2017-04-10 08:33] khandpur commented on #410
Can you use a workaround `grey_replaceText:` action until we add support for Chinese keyboard?

Alternatively you can start the app in different language by passing in the scheme the following argument: `-AppleLanguages en`
or programmatically using:
[code]

[2017-04-10 08:44] strongxu commented on #410
@khandpur It worked, Thanks a lot!

[2017-04-12 02:56] khandpur commented on #436
I tried to find out what could have changed between 1.7.0 and 1.9.0.

The only commit that could have affected gestures is https://github.com/google/EarlGrey/commit/c5c89d810a8e76547ed0506e85c1a80f3a10bc48 which changes touch injector but that was released as part of 1.7.0 and hasn't changed in 1.9.0

[2017-04-12 03:17] heemoe commented on #436
@khandpur  I did not find this issue before release 1.7.

[2017-04-12 03:31] khandpur commented on #436
Sorry @heemoe  I meant that comment to be for @npark-mozilla

[2017-04-12 14:00] npark-mozilla commented on #436
Hmm, actually I forgot to mention one thing- the test cases uses both KIFTest and Earlgrey in the same script, like here: https://github.com/mozilla-mobile/firefox-ios/blob/master/UITests/TopSitesTests.swift#L51 (We used EarlGrey to resolve the occasional sync issues of KIFTest, some are fully converted, most are not) Perhaps it might be conflicting with the KIFTest calls?  I didn't see warnings a

[2017-04-12 18:23] khandpur commented on #436
Because the way EarlGrey operates, it **could** be conflicting with KIF. Both enable accessibility programmatically, both require the use of swizzling and both handle interactions bit differently.

_We can add a warning but we haven't tried ourselves_

[2017-04-12 18:56] npark-mozilla commented on #436
Ah I see, then that must be it, I should try to use one or the other.  Thanks!

[2017-04-12 21:23] khandpur commented on #436
Looks like the tests are open sourced. We may be able to see what's going on by running them locally at our end. Could you share some repro steps or move the conversation to [slack](https://googleoss.slack.com/?redir=%2Fmessages%2Fearlgrey).

[2017-04-12 21:30] npark-mozilla commented on #436
I guess the best way to repro is to (The test is currently disabled):
1. Clone this pr branch: https://github.com/mozilla-mobile/firefox-ios/pull/2604
2. run ./bootstrap.sh to download/build dependencies
3. Enable TopSitesTests.swift in FirefoxNightly scheme
4. Select FirefoxNightly scheme
execute TopSitesTests on iphone 6s simulator
yeah.. I think that's it.  Might take a bit on setup/compiling t

[2017-04-13 10:37] nmarkovic04 opened #491 "greyswizzled_setState: crash when task completes with error"
It seems like `- (void)greyswizzled_setState:(NSURLSessionTaskState)newState` sometimes crashes with EXC_BAD_ACCESS(code=EXC_i386_GPFLT) when NSURLSession task completes with error.

[code]

![ss](https://www.dropbox.com/s/8giozallv1rmr43/Screen%20Shot%202017-04-13%20at%2012.25.39%20PM.png?raw=1)

It happened in various tests and at different times, so I can't really think of a rule when it crashe

[2017-04-14 07:50] khandpur commented on #491
Thanks for reporting this! I've been trying to repro this without any luck. Is there any way you can repro it in our [demo app](https://github.com/google/EarlGrey/tree/master/Demo/EarlGreyExample)?

[2017-04-14 07:53] nmarkovic04 commented on #491
@khandpur yeah, it's a hard one to reproduce, I've been having troubles as well. It seems totally random. I'll give it a go and get back to you.

[2017-04-14 07:58] khandpur commented on #491
you'll be doing us a huge favor if you can repro this one or at least point us to the cause and I can take it from there :)

[2017-04-17 15:20] bootstraponline commented on #491
I'm seeing exactly the same issue. It reproduces consistently when testing our app.

<img width="637" alt="earlgrey_fail_swizzle" src="https://cloud.githubusercontent.com/assets/1173057/25093334/d8be05a2-235f-11e7-855e-449f65572fd8.png">

[2017-04-17 18:30] tirodkar commented on #491
This is probably a silly question - but are you setting nil completion handlers for your [NSURLSession dataTaskWithURL:completionHandler:] method?

[2017-04-17 18:36] bootstraponline commented on #491
The app I'm testing is react-native so `NSURLSession` isn't used directly.

[2017-04-17 21:38] khandpur commented on #443
@jeff77731 were you able to resolve your issue?

[2017-04-17 21:39] khandpur commented on #410
Closing this issue. Please reopen if you encounter it again.

[2017-04-17 21:39] #410 closed

[2017-04-17 21:44] khandpur commented on #293
Update:
https://github.com/WebKit/webkit/blob/master/Tools/WebKitTestRunner/ios/HIDEventGenerator.mm#L265 doesn't work for all the supported platform versions. Also, it doesn't work on devices due to entitlement issues. And to top it off - there doesn't seem to be a reliable way to wait for the touch to be processes by the Application after it's been enqueued in the system. All of this makes it in

[2017-04-18 07:17] sskhandp commented on #183
@tirodkar isn't this essentially covered by our travis tests now?

[2017-04-18 07:26] tirodkar commented on #183
Yes it is. Since we do a rake install every time, we do check if the current gem works with the test project. Closing it.

@bootstraponline feel free to re-open this in case there might be cases we aren't covering.

[2017-04-18 07:26] #183 closed

[2017-04-18 08:16] sskhandp commented on #390
I looked into fixing it but due to the way visibility checker works, all of the solutions added a small amount of flash. Given that iOS 10.3 fixed [drawViewHierarchyInRect:afterScreenUpdates:YES](https://developer.apple.com/reference/uikit/uiview/1622589-drawviewhierarchyinrect?language=objc) to not flash when there are un-flushed committed CATransactions, I think we can close this bug with a note

[2017-04-18 19:29] bootstraponline commented on #390
looks fixed to me, nice work!

[2017-04-18 19:29] #390 closed

[2017-04-19 03:51] khandpur commented on #491
@bootstraponline is testing out a potential fix.

[2017-04-19 04:21] bootstraponline commented on #491
I verified the fix works. I created a test to run 3k times and no errors were detected in CI. Without the fix, we'd consistently see failures in 1 out of 5 runs.

[2017-04-19 18:41] #491 closed

[2017-04-19 19:49] sskhandp commented on #471
I don't have Ahmed's github id so unable to tag him on here...

@tirodkar Could you please find out which scenarios and/or actions this is referring to?

[2017-04-19 20:15] tirodkar commented on #471
Actually, I'm closing this now. The issue is visible with XCUITest / running a regular app as well on my machine and seems to be independent to EarlGrey.

The test in question was slow because of the order of matchers being passed in. grey_sufficientlyVisible() was the first matcher in grey_allOf(), IIRC.

[2017-04-19 20:15] #471 closed

[2017-04-25 00:15] petaren opened #499 "Interacting with SFSafariViewController"
It would be great if there was a way to interact with a `SFSafariViewController` with EarlGrey. Since it's SFSafariViewController` when signing in using different OAuth 2 providers.

[2017-04-25 19:07] haitaoli opened #500 "Include EarlGrey.swift in the framework"
Currently swift projects that use this framework needs to include EarlGrey.swift in the target. This is done automatically by the gem but in my case the gem failed to update the project. My app contains multiple sub projects and I would like to avoid having multiple copies of the same file. My current solution is to create a new sub project that contains this file, and add it as dependency to all

[2017-04-28 23:35] tirodkar commented on #500
The only issue that we have with doing is right now is the assertion macros present in GREYAssertionDefines. These would need to be moved to global methods or so.

[2017-05-02 16:15] vinodvpatil opened #501 "Is it possible to tap at point without Label"
Is there any way i can tap/swipe using coordinates without getting label or elements?

[2017-05-02 17:25] khandpur commented on #501
You can use a matcher that selects the window instead of a specific element or label and do a swipe or tap using `grey_tapAtPoint` or `grey_swipeSlowInDirectionWithStartPoint` or `grey_swipeFastInDirectionWithStartPoint`

[2017-05-03 06:18] vinodvpatil commented on #501
@khandpur Thank you it worked for me, but what i was trying was a test case to tap on any of the icon on home screen and launch application. I was trying to achieve the same with following code:
[code]

But it goes to home screen but does not tap on specified coordinate!!

[2017-05-03 07:16] khandpur commented on #501
Oh..that's not possible because EarlGrey runs as the same process as the app so when you background the app, EarlGrey is "backgrounded" with it.

[2017-05-03 07:18] vinodvpatil commented on #501
Oh Ok thank you for your time!!

[2017-05-03 07:31] #501 closed

[2017-05-04 19:49] AVandelay commented on #499
This might be addressed with this:
https://github.com/google/EarlGrey/issues/63

XCUITest is able to interact with third party authentication without having to change the code in any way

[2017-05-05 00:27] khandpur commented on #499
@wuhao5 (adding you as you ran the actual experiment)

AFAIK, XCUITest won't help us with SFSafariViewController. We ran some experiments but we weren't able to get it to work.

[2017-05-05 01:29] AVandelay commented on #499
For our app, the recorder wasn't able to pick up anything, but normal XCUI code was able to at least tap on `buttons[]`, `textFields[]`, and `staticTexts[]` with my quick experiment

[2017-05-05 02:26] khandpur commented on #499
I just tried it again. And I do see that it is able to print a debugDescription of the elements and tap on some links however the recorder does not work as you mentioned.

[2017-05-05 09:34] dbarden opened #505 "Support for idling resources"
Hi,

In our app, we have a few classes that could use custom Idling Resources to synchronise some events.

More specifically, what we have are:
- OpenGL rendered views (a map that animates the changes in location)
- a SDK that is an ObjC wrapper on top of C++ code (hence network calls are performed in C++ and don't get tracked)

Then our Espresso guys told us about the Idling Resources. And I crea

[2017-05-05 18:24] khandpur commented on #505
Hi Daniel, thanks for the thorough email!

Yes, we intended not to expose `GREYUIThreadExecutor+Internal.h` until we made the idling resources `event-based`. Currently they `poll` the isIdle method as you may have noticed when you were creating the idling resources. Event-based gives us better control of when we schedule things to run on the runloop and will help alleviate the constant load on the

[2017-05-08 06:23] dbarden commented on #505
Thanks for the clarification. That makes sense.

I'll keep an eye on that issue.

[2017-05-08 06:23] #505 closed

[2017-05-08 12:31] jeff77731 commented on #443
Yes, thank you very much

[2017-05-08 12:31] #443 closed

[2017-05-08 17:36] haitaoli opened #506 "Support links inside UITextView attributed strings"
If UITextView content contains links, EG is not able to detect them. The whole string is still accessible as static text. Accessibility Explorer list the links as child elements, and XCUITest framework can detect them as well, even though UITextView doesn't seem to implement any of the methods in UIAccessibilityContainer protocol. Here is what Accessibility Explorer shows:

![screen shot 2017-05-0

[2017-05-08 18:05] tirodkar commented on #506
Can you give me a sample Text View string with a link? Just so we know we're working with the same test?

[2017-05-10 03:50] haitaoli commented on #506
The links need to be set up in code. I'll try to build some sample code for this.

[2017-05-10 03:51] tirodkar commented on #506
That would be great! Thanks a lot @haitaoli

[2017-05-18 02:32] HdNate opened #508 "why my test case always timeout exception on iOS 8.0~9.3, but works well on iOS10.1 ?"
here is the log

09:53:04.974 myproject[1169:13553] -[_XCTestDriverTestObserver testCaseDidFinish:]
09:53:04.994 Xcode[323:2895] _XCT_testCaseDidFinishForTestClass:HDFirstLauchTest method:testPresenceOfKeyWindow withStatus:failed duration:0.3081129789352417
09:53:04.975 myproject[1169:13553] -[_XCTestDriverTestObserver testSuiteDidFinish:]
09:53:04.994 Xcode[323:2895] _XCT_testSuite:HDFirstLauchTe

[2017-05-18 05:04] tirodkar commented on #31
@lestathc you should be able to type any language string using grey_replaceText() now. Please do give it a try.

[2017-05-18 08:36] KazuCocoa commented on #31
In my case, I could put some Japanese into search field with `grey_replaceText()` .

[2017-05-18 17:46] wuhao5 commented on #508
looks like your tests were finished from the log, but failed to report back to Xcode? what's your xcode version?

[2017-05-18 19:17] tirodkar commented on #508
@HdNate do you have any alerts or so showing up pre-iOS 10 that might be causing the failures? Could you possibly share the (redacted) failure logs please?

[2017-05-19 01:42] HdNate commented on #508
@wuhao5 the version of Xcode is 8.1.
 maybe the problem was caused by the broken network, because it works fine when networks had been restored

[2017-05-19 01:44] tirodkar commented on #508
@HdNate if your tests are no hermetic i.e. do not need external resources such as network / file access etc. then they should just work fine. Do you have network queries etc. in your tests?

I'd recommend mocking out any network requests for testing purposes. Possibly adding some EarlGrey Network Utilities.

[2017-05-19 02:50] HdNate commented on #508
sorry about the bad response, the problem still exists.
my test case still throw timeout exception on iOS 8.0~9.3, but works well on iOS10.1.
i am confused
here is my test code:
@interface HDFirstLauchTest : XCTestCase

@end

@implementation HDFirstLauchTest

- (void)setUp {
    [super setUp];
}

- (void)tearDown {
    // Put teardown code here. This method is called after the invocation of each t

[2017-05-22 19:05] khandpur commented on #508
Problem seems to be that UIInputWindowController isn't calling [super viewDidAppear:].
@tirodkar I thought we had already fixed this for keyboard windows?

[2017-05-22 19:08] tirodkar commented on #508
Yes it has. @HdNate, what is the version of EarlGrey that you're using? Is there any specific accessory view that you're adding to the keyboard for this?

[2017-05-22 20:54] tirodkar commented on #508
@HdNate do you have a simple repro situation for this that you could share with us? Or maybe reproduce this with out test app, it seems to be an issue with the way that we are printing the hierarchy.

[2017-05-23 02:20] HdNate commented on #508
@tirodkar  The version of EarlGrey is 1.9.2

[2017-05-23 02:44] khandpur commented on #508
@tirodkar I don't think it's an issue with how we're printing the hierarchy. Printing the hierarchy has the side-effect of changing the state of an already tracked element (obvious from the stack trace where it calls setHidden on window by invoking accessibilityElementCount method..which is really odd anyway). The real problem seem to be that [super viewDidAppear:] hasn't been called on that `UIIn

[2017-05-23 04:47] HdNate commented on #508
@tirodkar but there is no or other some use about UIInputViewController  in my project

[2017-05-23 04:48] tirodkar commented on #508
UIInputViewController corresponds to the Accessory View on top of a keyboard. Do you have anything of the sort?

[2017-05-23 08:08] HdNate commented on #508
@tirodkar I haven't found a keyboard while searching in the view hierarchy, and there is no textField or textView in my home page.

[2017-05-23 08:16] HdNate commented on #508
the Memory is always increasing until time out, and the CPU is also very high.  is there something holding on when running the test project ?

[2017-05-23 08:47] tirodkar commented on #508
@HdNate Does the scrolling action work fine here? Does it scroll to the element?

[2017-05-23 09:14] HdNate commented on #508
The element identified  by  "cwqMeID" is not on a scrollView.

this is the code in my project:
[[EarlGrey selectElementWithMatcher:grey_allOf(grey_accessibilityID(@"cwqMeID"), grey_sufficientlyVisible(), nil)] performAction:grey_tap()];

it is always throw TimeoutException

[2017-05-23 11:02] HdNate opened #509 "could not execute support code to read Objective-C class data in the process"
iOS8.1   iPhone4s  throw a warning :
could not execute support code to read Objective-C class data in the process. This may reduce the quality of type information available.

[2017-05-23 16:41] mariozel opened #510 "Adding EarlGrey Pod to an existing project with R.swift breaks the build"
Currently I'm working on a project where we use cocoapods and one of which is R.swift. Adding EarlGrey to this project breaks the build with the following error:
`/MyNewApp/build/MyNewApp.build/Debug-iphonesimulator/MyNewApp.build/Script-5DB000921ED488FE0011D379.sh: line 5: 59938 Illegal instruction: 4  "$PODS_ROOT/R.swift/rswift" "$SRCROOT"
Command /bin/sh failed with exit code 132`

I've created

[2017-05-23 17:01] khandpur commented on #509
Is it device or simulator and what's the xcode version?

[2017-05-23 17:02] khandpur commented on #510
Thanks for adding a repro project. It really helps debugging install issues.

@wuhao5 Can you take a look at this one?

[2017-05-23 17:23] wuhao5 commented on #510
I am not able to compile your project even after removing the EarlGrey pod. I haven't used R.swift before, but even I tried to run `rswift`, it errors too.

[2017-05-23 20:47] wuhao5 commented on #510
I am able to repro the issue: looks like R.swift is looking at Products group and we are adding EarlGrey.framework there. The workaround is not trivial: you will need to remove it from the xcodeproj file manually (Xcode will not allow you do so) and add it to another group (i.e. frameworks) and fix the EarlGrey copy file script where it links to this framework.

I will work on the fix.

[2017-05-23 20:57] khandpur commented on #510
@wuhao5 thanks for looking into it. Any ETA? Will we be able to release it on Friday?

[2017-05-23 21:11] wuhao5 commented on #510
It will be a gem update, possible independent of a separate release from the EarlGrey mainstream. it should be done in a day.

[2017-05-23 21:58] mariozel commented on #510
NIce! Thanks lads.

[2017-05-23 23:29] wuhao5 commented on #510
the new workaround: patch the PR and do `rake install` under `gem/`, and then do pod install one more time.

[2017-05-24 02:38] HdNate commented on #509
it is device, the version of Xcode is 8.3.2

[2017-05-24 02:42] HdNate commented on #508
add the code in class 'UIWindow+GREYAdditions', the issue is gone. But i'm not sure the change right or not.
here is the function:
- (void)greyswizzled_setRootViewController:(UIViewController *)rootViewController {
    if ([rootViewController isKindOfClass:NSClassFromString(@"UIInputWindowController")]) {
        return;
    }
  UIViewController *prevRootViewController = [self rootViewController];

[2017-05-24 02:48] tirodkar commented on #508
Could you add that method to `UIViewController+GREYAdditions` similar to the `UICompatibilityInputViewController` in `greyswizzled_viewWillAppear` and see if that helps?

Also, can you query the UI using GREYElementHierarchy to see where the InputViewController is coming from?

[2017-05-24 02:58] HdNate commented on #509
the target EarlGreyFunctionalTests provided by EarlGrey also throw the issue when running on a device    of iOS 8.1.3

[2017-05-24 06:26] khandpur commented on #508
Basically don't track UIInputWindowController the same as this code: https://github.com/google/EarlGrey/blob/master/EarlGrey/Additions/UIViewController%2BGREYAdditions.m#L125 by expanding that if condition to:
`
if (![self isKindOfClass:gCompatibilityVCClass] || ![self isKindOfClass:NSClassFromString(@"UIInputWindowController")])
`

[2017-05-24 06:30] khandpur commented on #508
@tirodkar it may be worth checking out UIInputWindowController in Hopper and see if it calls through to super correctly.

[2017-05-24 07:00] HdNate commented on #508
![Uploading CE6EC496-3E4B-4800-B7CB-E2837DA0DFF6.png…]()
@khandpur

[2017-05-24 07:03] HdNate commented on #508
<img width="1000" alt="d0e6f73f-042e-46fa-b69e-c487f38e232e" src="https://cloud.githubusercontent.com/assets/24520408/26390646/0bcb8b1e-4092-11e7-9aab-bb873cc394e7.png">
@khandpur

[2017-05-25 17:43] khandpur opened #512 "Add supported xcode version to backwards compatibility"

[2017-05-26 03:04] #509 closed

[2017-05-26 03:09] khandpur commented on #509
We've never encountered this. You may enable NSZombie and try to diagnose it further as suggested on here:
https://stackoverflow.com/questions/38149650/warning-could-not-load-any-objective-c-class-information-in-swift-realm

[2017-05-26 07:21] sushantchoudhary opened #513 "Scrolling element into view with 'using(searchAction: )' method fails in swift"
**I am trying to scroll a UITableView to find a UIKit element and make it interactabale using**

`                EarlGrey.select(elementWithMatcher:grey_accessibilityID("fieldissuetype"))
                    .using(searchAction: grey_scrollInDirection(GREYDirection.down, 300),
                           onElementWithMatcher: grey_kindOfClass(UITableView.self))
                    .perform(grey_ta

[2017-05-26 18:46] tirodkar commented on #513
Sushant, could you change your test to be:

[code]

?

And then do -

[code]

[2017-05-26 18:47] tirodkar commented on #508
Sorry @HdNate, not sure why this was closed. Were you able to resolve this?

[2017-05-30 22:35] bootstraponline commented on #364
https://github.com/wix/detox is interesting.

[2017-05-30 22:49] bootstraponline opened #518 "React-native synchronization"
It'd be nice to auto sync with React Native out of the box.

[2017-05-30 23:15] bootstraponline commented on #55
https://github.com/wix/AppleSimulatorUtils looks interesting.

[2017-05-31 02:20] tirodkar commented on #513
Any update @sushantchoudhary ?

[2017-05-31 18:53] haitaoli commented on #506
@tirodkar sorry for taking so long. Here is the project: https://github.com/haitaoli/EarlGreyAttributedTextTests

[2017-05-31 19:05] tirodkar commented on #506
Thanks @haitaoli! We'll test it out and get back with updates.

[2017-06-01 12:15] LeoNatan commented on #518
[Maintainer of Detox iOS idling resources for RN]

I don’t see an issue in general to upstream our idling resources. Right now, there is a known limitation in some of our own idling resources, where we only support one bridge. For an upstream submission, these need to be ironed out.

Other than that, it’s a question of politics, if Google want to potentially dirty up Earl Grey with Facebook’s cust

[2017-06-01 12:32] bootstraponline commented on #518
[react-native is BSD](https://github.com/facebook/react-native/blob/master/LICENSE) so I don't see an issue? What code from react-native is being used in the custom IdlingResource? If `NSClassFromString` is used then we might not need the Facebook code at all.

Hopefully other companies automating react-native with EarlGrey will comment on this issue.

[2017-06-01 14:04] LeoNatan commented on #518
Are you sure it is not tainted by the custom FB license with controversial patents clause? (It does link and use React.js after all.)

At any rate, indeed Detox is indeed not linked directly with RN; it uses reflection to discover classes and use API, further isolating it from potentially being at odds with the FB license.

[2017-06-01 14:39] bootstraponline commented on #518
No, you're confusing an additional patent grant with the actual license the code is released under.

That's perfect, there's no issue then.

[2017-06-01 16:51] LeoNatan commented on #518
Can you invite me to the E.G. Slack?

[2017-06-01 17:05] bootstraponline commented on #518
Yeah, what is your email? I'm code@bootstraponline.com

[2017-06-07 05:55] tirodkar opened #531 "EarlGrey Travis Tests fail on Xcode 8.3.3 after Travis moved their 8.3 targets to it."
https://blog.travis-ci.com/2017-06-06-xcode-833-is-here

[2017-06-07 08:48] silyevsk opened #532 "Actions are applied to overlapping views"
If there's a scrollView `A` overlapped with a scrollview `B` at the bottom, then a scroll-down action applied to the `A` element generates touches at the bottom of it and thus `B` is scrolled instead.

If there's a button `A` overlapped with a button `B` at the center, then a tap action on `A` causes an exception.

An example project for these cases with the tests: [https://github.com/wix/earlgrey

[2017-06-07 10:05] tirodkar commented on #532
@silyevsk Are you scrolling to find a particular element in the scroll view? Using the `usingSearchAction` method, you should be able to limit the scroll amount, thus preventing the touches from being added.

[2017-06-07 10:16] silyevsk commented on #532
It's not that I have a specific test that fails (we had an issue with react native warning view covering a scroll view, but we have a workaround for that). In the described cases however, an action applied to a matched element (in code) is in fact applied to a wrong element (just because it covers some of the element). It's not a matter of limiting scrollView, it's that a wrong scrollView is scrol

[2017-06-09 23:35] fernyb opened #534 "Visibility issues"
I'm trying to find an element that is displayed but doesn't meet the 75% visibility matcher.
Why is this auto added? I'd like to use 0.30 in some cases.

Where would I look to see where it's appending the matcher.

Thanks

[2017-06-09 23:41] tirodkar commented on #534
Are you use the activation point will be available in the element with 0.3 visibility? TTBOMK, we don't check for sufficientlyVisible() when performing an action such as a tap. Could you show us what is the statement that you are trying to run?

[2017-06-10 00:43] sid-github opened #535 "FTRSwiftTest testButtonPressWithGREYAllOf is failing (but all the functional tests are passing, check to see if this is a test failure)"
FTRSwiftTest testButtonPressWithGREYAllOf is failing but all the functional tests are passing, check to see if this is a test failure.

Logs:

All tests
Test Suite EarlGreyFunctionalSwiftTests.xctest started
FTRSwiftTests
    ✗ testButtonPressWithGREYAllOf, Exception: AssertionFailedException
    ✓ testChangingDatePickerToAFutureDate (4.093 seconds)
    ✓ testFastTyping (1.374 seconds)
    ✓ testI

[2017-06-10 20:12] fernyb commented on #534
I'm looking for a cell containing some text within the cell and need to be sure its at minimum visible 20%.
So I came up with this

[code]

when it fails I notice the "Element Matcher" in the exception it contains "matcherForSufficientlyVisible(>=0.750000)"
which I didn't specify in the matcher, which I suspect is being added automatically?

[code]

[2017-06-11 00:19] khandpur commented on #532
I've confirmed a bug in EarlGrey that's causing this behavior. In `GREYVisibilityChecker`, when the visible rect (xmin, ymin, xmax, ymax) is calculated from overlapping regions ymax and xmax aren't reset if a region is overlapped by another.

[2017-06-12 05:51] tirodkar commented on #534
I don't think any of these statements do a gre_sufficientlyVisible() check. Could you post `matcherTableViewCellContainsRegex` please?

[2017-06-13 04:49] #512 closed

[2017-06-14 19:35] khandpur commented on #532
@silyevsk I am unable to make the app crash with the 2nd test case `testTapOnBackrgoundButton`. I don't see any exceptions. What xcode and ios version did you run that test on?

[2017-06-15 12:30] silyevsk commented on #532
@khandpur It turns out I was checking against EarlGrey 1.8.0 (no idea how, I installed it via CocoaPods without specifying a version..) I've checked it now with 1.9.4 and it works fine. I'm sorry I didn't check the version before opening the issue. Thank you for your time.

[2017-06-15 16:33] haitaoli opened #538 "Support test recording"
I recently evaluated EarlGrey and XCUITest frameworks to understand pros and cons of each. I found the biggest advantage of EarlGrey is that since my test code runs inside the app process I can launch any view controller directly with different combinations of input parameters. Tests run a lot faster and I don't have to set up many objects (such as user profiles) on server side. The advantage of X

[2017-06-15 16:52] wuhao5 commented on #538
With the next version of EarlGrey, we'd like to have it integrated with XCUITest as well - and you will have everything you already have. One feature we'd like to explore is to use Xcode record option to record EarlGrey,

[2017-06-15 17:03] khandpur commented on #532
The overlapping scroll view issue is still legit and we have a fix for it. Using this issue to track it.

[2017-06-15 17:04] khandpur commented on #538
This is definitely on our radar but we will likely get to this after EG 2.0 is released.

[2017-06-15 17:15] khandpur commented on #534
Yup I suspect that `matcherTableViewCellContainsRegex` is a compound matcher that's including grey_sufficientlyVisible().

[2017-06-15 20:43] fernyb commented on #534
Dang you guys were correct, I didn't see it earlier. matcherTableViewCellContainsRegex does have grey_sufficentlyVisible().

[2017-06-15 23:09] sushantchoudhary commented on #513
Hey @tirodkar , apologies for the delay. Suggested update did the trick and I was able to scroll the UITableView. Thanks a lot for the input.

[2017-06-15 23:09] #513 closed

[2017-06-16 11:54] kl opened #539 "grey_typeText error: Failed to type string '1234', because key [K] could not be found on the keyboard."
I have the following test that succeeds:

[code]

but when I change ```grey_replaceText``` to ```grey_typeText``` in the above test I get the following error:

[code]

I'm using Earl Grey 1.9.4 with the 10.3 iPhone 7 simulator on Xcode 8.3.2

[2017-06-16 17:39] tirodkar commented on #539
`√§` doesn't seem like a standard keyboard key. Is this a regular English keyboard?

[2017-06-16 17:47] khandpur commented on #539
Can you also upload the screenshot that's taken by EarlGrey on failure?

[2017-06-19 12:53] kl commented on #539
My external keyboard and mac have a Swedish keyboard layout. I'm using the 'Swedish - Pro' input source. I have attached the screenshots for the failed  test.
[screenshots.zip](https://github.com/google/EarlGrey/files/1084939/screenshots.zip)

[2017-06-20 20:59] tirodkar commented on #539
@kl we unfortunately do not support non-English keyboards right now and therefore suggest users to use `grey_replaceText()` instead. We use accessibility labels for typing on the keyboard. To press the capitalized [K] here, we would have to hit the `shift` key which has the following accessibility details:

[code]

Since we use `grey_accessibilityLabel(@"shift")` for typing, we end up with the fai

[2017-06-24 03:16] #539 closed

[2017-06-24 21:07] vbutzke commented on #55
Has anyone found a consistent solution for this? Requiring someone to click on the button every time the resources are reloaded to execute tests as well as modifying production code to do so do not sound as a very good solution for automated testing... I know those are workarounds but still... This just makes UI testing kind of impossible if you're trying to follow best practices and building a co

[2017-06-26 14:19] vbutzke commented on #55
I found a solution for automated UI testing using Appium:
https://discuss.appium.io/t/ios-alerts-handle-system-alerts-in-ios-simulator/5816/2
If it may help anyone.

[2017-06-26 16:26] liaoyuke opened #545 "EarlGrey tests are hanging on Xcode 9 beta"
By running EarlGreyFunctionalTests with EarlGrey sample app on Xcode 9 beta (both beta 1 and beta 2), tests are hanging indefinitely. The following is the log:

Showing All Messages
Test Case '-[FTRAccessibilityTest testAccessibilityElementTappedSuccessfullyWithTapAtPoint]' started.
2017-06-26 09:20:05.516896-0700 FunctionalTestRig[4965:13464724] Timer fired! Removing splash screen.
2017-06-26 09:

[2017-06-27 11:17] shvekiasaf opened #546 "Drag from point to point"
Something we really want to have is the ability to **drag** from point to point.
Is there any workaround I can use at the moment?

Thanks a lot.

[2017-06-27 18:59] khandpur commented on #55
@vbutzke Happy that you found a solution. Sounds like what you're looking for is a pure black-box testing framework. A white-box framework like EarlGrey gives the test author more control over the AUT by running inside app under test so we usually advise using fakes (or mocks in certain cases) and encourage designing the app with testability in mind.

Just as a quick heads up -- we've already adde

[2017-06-27 20:23] tirodkar commented on #546
@shvekiasaf have you looked at
[code]

With it, you should be able to go from point to point. If you'd like to trace out your own path, take a look at `GREYPathGestureUtils.h`

[2017-06-27 20:32] khandpur commented on #546
fyi, GREYPathGestureUtils is private.

[2017-06-28 18:23] #534 closed

[2017-06-29 23:07] #532 closed

[2017-06-30 05:43] khandpur commented on #545
Update: We've found fixes to both issues and testing them internally before pushing them out as PRs.

[2017-07-01 21:05] adamski opened #553 "Possible to simulate audio input using pre-recorded audio file?"
I have an audio app that I am building automated tests for. It would be great to be able mock user input with an audio file. Any ideas on how to achieve this?

[2017-07-02 20:35] tirodkar commented on #553
If you're using AVFoundaton or so, you should be able to expose a method that mocks out the result from the audio input and then call it directly in your test code. Are you facing any issue while trying to achieve this?

[2017-07-04 08:32] taher-mosbah commented on #410
I have the same issue with an Azerty keyboard.

[2017-07-06 15:00] Ruenzuo commented on #545
@khandpur thank you!, any update on the progress of this? Is there a branch in this repository we can try out before the PR is created?

[2017-07-06 19:08] tirodkar commented on #545
@Ruenzuo I saw an issue related to Synchronization that I'm still working on providing a fix for. We'll definitely keep you updated by the end of this week with any more findings.

[2017-07-07 11:13] colinmasters opened #567 "Adding EarlGrey to existing test suite causes black screen and failed assert"
I have installed the EarlGrey framework using the Cocoapods method and added it to an existing suite of unit tests.  Upon creating a new test and launching it, the app loads with a black screen and the test fails (as clearly there is nothing on the screen to test)

Is there additional setup required to add this to existing test suites?  Are there settings that need modified?

[2017-07-07 11:26] tirodkar commented on #567
There might be a Synchronization issue. What version of iOS / EarlGrey are you using? Can you show us any logs?

[2017-07-07 11:35] colinmasters commented on #567
iOS 10.3, EarlGrey 1.9.4

1253     8   CoreFoundation                      0x000000010934a5e3 __CFRunLoopRun + 883
1254     9   CoreFoundation                      0x000000010934a016 CFRunLoopRunSpecific + 406
1255     10  EarlGrey                            0x000000011dfacfbd -[GREYRunLoopSpinner grey_drainRunLoopInActiveModeAndCheckCondition:forTime:] + 653
1256     11  EarlGrey

[2017-07-07 11:37] colinmasters commented on #567
It looks like the app is 'pausing' to run unit tests before continuing to launch, I just can't figure out where to stop it from doing that.

[2017-07-12 13:13] ArielSD opened #570 "attributedTitleForRow Not Recognized In pickerViews"
In a pickerView object, when the delegate method `attributedTitleForRow` is called _without_ `titleForRow`, `grey_setPickerColumnToValue(row, value)` fails when trying to access the pickerView's rows in tests.

[2017-07-14 17:35] wuhao5 commented on #567
did you see a timeout error message? did it tell any other info? from what I can tell here, it might wait for something to finish, i.e. some animations, some network request or you may have some timer or block to be executed repeatedly?

[2017-07-20 13:44] steipete commented on #545
Happy to test a branch if you have an update on this.

[2017-07-20 13:58] mettieDie opened #580 "Missing Swift 3.2 and Swift 4.0 Support"
I updated my Project to Swift 4.0. Know CocoaPods crashed because EarlGrey doesn't support Swift 4.0

[2017-07-20 14:06] cipherCOM commented on #580
Same on my side. `pod install` doesn't work anymore due to missing swift bundles.

[2017-07-20 16:39] tirodkar commented on #580
I haven't looked into adding Swift 4.0 support as of now. Can you possibly point to what we would need to do for this?

[2017-07-20 16:56] wuhao5 commented on #580
did you see the error message like this: `Bundled swift missing`?

[2017-07-20 17:17] willlarche opened #582 "[Bug] Exception on iOS 11.0 Simulator"
Xcode 9 beta 3, iPhone 6s Plus 11.0

```[<GREYElementInteraction> performAction: <GREYTapAction>]``` is throwing an exception ```*** Assertion failure in -[UIViewAnimationState _transferAnimationToTrackingAnimator:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit_Sim/UIKit-3688.4/UIView.m:829```

To reproduce, clone develop of [material-components/material-components-ios](https://github.com

[2017-07-20 18:30] mettieDie commented on #580
Yes exactly this error Message. The Folders for Swift 3.2 and Swift 4.0 are Missing.I Have made a Pull Request with a Fix.

[2017-07-20 18:44] tirodkar commented on #582
@willlarche  this seems similar to https://github.com/google/EarlGrey/issues/545. We have a fix in flight for this. Please do confirm if that is so.

[2017-07-20 20:17] willlarche commented on #582
Yeah that def looks similar.

[2017-07-21 08:27] mettieDie commented on #545
Is there any Updates when the fixes will be pushed?

[2017-07-22 03:57] khandpur commented on #582
This should be fixed by 1.11.0 release.
https://github.com/google/EarlGrey/releases/tag/1.11.0

[2017-07-24 04:59] tirodkar commented on #582
https://github.com/google/EarlGrey/pull/583

Closing this for now. @willlarche  Do tell us if there might be any issues.

[2017-07-24 04:59] #582 closed

[2017-07-24 13:33] willlarche commented on #582
Fixed.

[2017-07-30 10:51] blankg opened #588 "GREYUIWebViewDelegate makes all XMLHttpRequests synchronous"
The GREYUIWebViewDelegate forces all XMLHttpRequests to be synchronous:
grey_ajaxListener.originalOpen.apply(this, [method, url, **false**, user, password]);

This causes failures in some scenarios which the sync api doesn't support, for example setting the responseType will result in the following error: "Synchronous HTTP(S) requests made from the window context cannot have XMLHttpRequest.respons

[2017-08-01 04:26] khandpur commented on #588
Thanks for bringing this to our attention. We will have to look into the load event and what guarantee it provides. A quick search revealed https://rainsoft.io/catch-the-xmlhttp-request-in-plain-javascript/ which may be useful.

Would you be willing to take a stab at it and provide a test for the underlying issue that you're running into?

[2017-08-02 06:28] blankg commented on #588
Sure, I'll work on a PR for this.

[2017-08-08 07:01] khandpur commented on #580
@mettieDie Do you plan on getting the comments in the PR resolved anytime this week? We could send another PR to solve this bug as it is preventing people from running `pod install`

[2017-08-08 07:41] MaxJZimmermann commented on #580
@khandpur  +1 Would be great!

[2017-08-08 07:46] mettieDie commented on #580
I think it's better to send another PR Request. I have my last exam end of the week and no time to do it. sorry.

[2017-08-08 16:30] Usipov commented on #31
I have added support for cyrillic letters in my fork of this repo.
This was done as a proof of concept only.
I will probably refactor this code to make support for different languages more scalable and then merge the fork back. I just have no time for this at the moment

You may take a look at this PR: https://github.com/Usipov/EarlGrey/pull/1/files